[2016-07-22 10:22] harsh1412 opened #1 "Need a guide to compile/run the code"
Hey,Please give us some instructions on how to run the project from scratch because you only mentioned how to configure the data and not how to run it.
Thanks <3

[2016-07-22 10:29] shiftcodeYT commented on #1
If you want to run the precompiled version, open the .exe
If you want to compile the project, open the .sln, edit the external.config and press ctrl+f5 to run it.

[2016-07-22 10:32] #1 closed

[2016-07-22 10:52] harsh1412 opened #2 "Walk or teleports?"
So this bot of yours walks or teleport?

[2016-07-22 10:54] shiftcodeYT commented on #2
As you can't "walk" with gps, but rather teleport around 5m, the app simulates walking. The bot teleports in 5m steps. Otherwise it would seem fake.

[2016-07-22 10:59] harsh1412 commented on #2
teleporting 5m quickly over and over without any delay doesn't seems to be fake?

[2016-07-22 11:00] shiftcodeYT commented on #2
There obviously is a delay. It moves with 5-10km/h

[2016-07-22 11:00] #2 closed

[2016-07-22 11:06] harsh1412 commented on #2
Oh.. will run and report you any error if i get..
BTW when you are gonna release the bug fixed exe?

[2016-07-22 11:09] shiftcodeYT commented on #2
In a second. BTW Pro tip: download the repo and go into PokemonGo\RocketAPI\Console\bin\Release. That's the folder I'm always uploading :)

[2016-07-22 11:11] harsh1412 commented on #2
Okay thanks :D

[2016-07-22 11:16] harsh1412 commented on #2
Why its recycling my stuffs? :...(

[2016-07-22 11:17] shiftcodeYT commented on #2
you probably have a full or nearly full bag

[2016-07-22 11:20] harsh1412 commented on #2
how do i stop it ?

[2016-07-22 11:20] harsh1412 commented on #2
No i have like 54 items in bag and still want to recycle my stuffs.

[2016-07-22 11:22] harsh1412 commented on #2
What is the step limit you implemented?

[2016-07-22 11:22] shiftcodeYT commented on #2
step limit?

[2016-07-22 11:29] harsh1412 commented on #2
Yeah the search area i mean?
And how do i stop it from recycling anything -.-'

[2016-07-22 11:45] shiftcodeYT commented on #2
just leave it, i had to implement it for max. xp gain

[2016-07-22 11:56] dm94 opened #3 "PTC isn't working"
I think it's because logue PTC does not work, because servers are heavily loaded

[2016-07-22 12:08] shiftcodeYT commented on #3
PTC is down ATM, http://ispokemongodownornot.com/

[2016-07-22 12:49] shiftcodeYT commented on #3
Working again. It's been the servers :P

[2016-07-22 12:49] #3 closed

[2016-07-22 13:00] kingsofcoms opened #4 "Recycles Item pokeball when start."
When it runs a new thread it recycles item pokeballs, why?

Also can we implement transfer of pokemons with IVs below 85% instead of CP threshold.

[2016-07-22 13:38] kingsofcoms commented on #4
Ok, found out that IVs is set to 80%. It would be better to keep the atleast 50 pokeballs at hand and dropping all potions.

[2016-07-22 14:02] shiftcodeYT commented on #4
Will look at it. Thanks for your help!

[2016-07-22 14:33] shiftcodeYT commented on #4
Done. Now it keeps as many pokeballs as it will need.

[2016-07-22 14:33] #4 closed

[2016-07-22 14:33] shiftcodeYT opened #5 "Feature requests"
Request features here ;)

[2016-07-22 15:55] kingsofcoms commented on #5
Could you explain how far it farms from the main coordinate. Does it only farm pokemons that are around pokestops or the entire map?

Feature request:
1. Ability to set IVs percentage, say 85%, everything below will be transferred.
2. Implement walking and walking speed.
3. Implement seperate farming modes:
a. XP Mode: visits pokestops only (might farm pokemons that may spawn near pokestops)
b. St

[2016-07-22 16:01] shiftcodeYT commented on #5
0) it farms in 30m radius or so
1) i'll definitely implement that :)
2) Walking is already implemented
3) Awesome idea :) Looking forward to that on my own.

[2016-07-22 16:46] kingsofcoms opened #6 "Something is wrong with IVs data"
So I caught a lot of pokemons but only a few (around 1 in 15) were being transfered for being below 80% IV, which did not make sense that I caught so many perfect IV pokemons, So I checked the protobuf values with this https://www.reddit.com/r/TheSilphRoad/comments/4tqddw/guide_to_determine_exact_ivs_using_mitm_proxy/ and I found that only one pokemon is 91% and rest are all worse under 60%.

I di

[2016-07-22 16:49] kingsofcoms commented on #5
Awesome :+1:

[2016-07-22 16:50] kingsofcoms commented on #6
My Pokemon IV data
https://docs.google.com/spreadsheets/d/1zyV1gaR8lB8IFh-78X797c8Ll1rPPLoJToZHb3DgNO8/edit?usp=sharing

[2016-07-22 17:42] shiftcodeYT commented on #6
I'll look into it. Thanks for notifying!

[2016-07-22 17:47] Luc4z opened #7 "thanks for the awesome job and continued his user friendly project"
and if there's a XP mode in the futer , it should also capture pokemon too because with candy it can gain more exp .

also can you add evolve all pokemon in "leaveStrongest" list before transfer them ?
or just make a list for evolethemall

[2016-07-22 17:48] shiftcodeYT commented on #7
I'll add a option. Thanks!

[2016-07-22 17:52] betrdenu opened #8 "Love the bot one problem though"
Everything is working great except for when the bot tries to catch pokemon it fails on everysingle one even the 150 cp pokemon ....did i do something wrong in setup?

[2016-07-22 17:55] shiftcodeYT commented on #8
You either have a softban, or no pokeballs :)
Please check if you gain XP from pokestops or it simply says "PokeStop XP:0"

Thanks :)

[2016-07-22 17:56] kingsofcoms commented on #8
most likely a softban.

i catch all pokemons, success rate around 95%.

[2016-07-22 17:57] betrdenu commented on #8
nevermind it fixed itself the first7 or 8 it missed (and i know i have pokeballs i was just on it lol) but its catching the majority now

[2016-07-22 17:57] shiftcodeYT commented on #8
ok then ;)

[2016-07-22 17:57] #8 closed

[2016-07-22 17:57] betrdenu commented on #8
whered that close button go i feel silly and impatient now

[2016-07-22 17:58] shiftcodeYT commented on #8
I closed it :P

[2016-07-22 17:59] kingsofcoms commented on #7
@Luc4z why would you want to evolve a pokemon if you're eventually gonna transfer them.

[2016-07-22 18:00] shiftcodeYT commented on #7
@kingsofcoms XP

[2016-07-22 18:06] kingsofcoms commented on #7
but doesn't evolve cost around 50 candies for some pokemons, thats a lot. Those candies could be used to powerup better IV pokemons though.

[2016-07-22 18:07] shiftcodeYT commented on #7
@kingsofcoms ... just realized this is useless :P

[2016-07-22 18:07] #7 closed

[2016-07-22 18:15] Luc4z opened #9 "For the evolution request again"
_**and if there's a XP mode in the futer , it should also capture pokemon too because with candy it can gain more exp .**_

also can you add evolve all pokemon in "leaveStrongest" list before transfer them ?
or just make a list for evolethemall .

about evolution i means if you capture one and before you transfer it , if you got enough candy then evolve first and transfer later , i don't think its

[2016-07-22 18:16] Luc4z commented on #9
and also as the other guy here said "but doesn't evolve cost around 50 candies for some pokemons, thats a lot. Those candies could be used to powerup better IV pokemons though." , its easy , don't put that one in evolve list

[2016-07-22 18:17] shiftcodeYT commented on #9
O.K., I'm dumb. Just a priority problem. I'll fix that tomorrow or so. :)

Note for me: `switch Evolve and transfer in Program.cs`

[2016-07-22 18:35] kingsofcoms commented on #9
@Luc4z I get you dilemma to evolve pidgeys. Agreed it should be in a allowall/addexception list coz you don't want to evolve all pokemons.

[2016-07-22 18:36] shiftcodeYT commented on #9
I'm simply going to get all lists into the config file. Then everyone is happy :)

[2016-07-22 20:42] Albeoris opened #10 "A bad perfomance: EvolveAllGivenPokemons"
[code]
(300 * (3+1) / 60) = 20 minutes
Filter pokemons before evolve. Check what it can evolute and player has resources.

Also there is no progress and an application looks hanging.
And thank you for the hard work! (:

[2016-07-22 20:44] shiftcodeYT commented on #10
You're right :P I'll look into it tomorrow.

On Fri, Jul 22, 2016 at 22:42, Albeoris <notifications@github.com> wrote:
foreach (var pokemon in pokemonToEvolve) // 300 in a my case
evolvePokemonOutProto = await client.EvolvePokemon(pokemon.Id); // 1 second
await Task.Delay(3000); // 3 second

(300 * (3+1) / 60) = 20 minutes
Filter pokemons before evolve. Check what it can evolute and player has res

[2016-07-22 21:14] spot88 commented on #6
private async Task TransferDuplicatePokemon(bool keepPokemonsThatCanEvolve = false)
            {
                var duplicatePokemons = await _inventory.GetDuplicatePokemonToTransfer(keepPokemonsThatCanEvolve);

                foreach (var duplicatePokemon in duplicatePokemons)
                {
                    int iv = duplicatePokemon.IndividualAttack + duplicatePokemon.IndividualDefense

[2016-07-22 21:24] spot88 opened #11 "Suggestions"
1. Ability to put the specific area you want it to cover with humanlike walkspeed.
2. Simple login GUI you could borrow from here: https://github.com/AnthonyOSX/GO-Bot
3. Make Discord chat for the "Community" using your bot?
4.  Ability to set IVs percentage - example: http://pastebin.com/Ra1JA8b3
5. Maybe it should be possible to make the bot stay in 1 place? For X amount of minutes, then start t

[2016-07-22 21:34] ilikesomething opened #12 "Suggestion : log.txt"
It would be very nice to get the logs from the console also in a .txt :)

[2016-07-22 21:40] shiftcodeYT commented on #12
Well, you could run the program from cmd: "x.exe >> log.txt", but that disables output in console. I'll look into it tomorrow.

[2016-07-22 21:44] Hidan123 opened #13 "Google?"
Working very well, nice work. The only problem is I get spammed with "Argument Null Refference - Restarting" after a while(30min-40min) most likely due to the fact I'm using Google, any work-around/fix?

[2016-07-22 21:47] shiftcodeYT commented on #13
I honestly have no idea why. I'm using this personally on many accounts, and this error only occurs on one of them.

[2016-07-22 21:48] Hidan123 commented on #13
:C i wanted to set it up for night but with that bug oh well anyway good work with the bot waiting for solution !

[2016-07-22 22:04] Xlepto commented on #13
I'm having the same problem as well.

[2016-07-22 22:25] ZivC12 commented on #13
Same problem as well

[2016-07-22 22:27] ZivC12 opened #15 "Can I change the item recycling min?"
rn the bot recycles all potion, and keep of max of 20 pokeballs, would love if I had the option to change it (Tried to change the recycle interval but it still recycle every time i start the program or it cant find anyhting close)

[2016-07-22 22:33] ilikesomething commented on #12
yes it would be better to have both :) thank you anyway!

[2016-07-22 22:35] ilikesomething commented on #15
you can change the interval but like you said when you start it recycle, it would be nice to be able to disable the function

[2016-07-22 23:00] kmlalpr commented on #13
You have to delete tokens.txt and restart the program. But it is bug.

[2016-07-22 23:13] spot88 commented on #15
Can be changed in settings.cs
ICollection<KeyValuePair<ItemId, int>> ISettings.ItemRecycleFilter

[2016-07-22 23:14] Xlepto commented on #13
^^ That fixed the problem!

[2016-07-22 23:20] Hidan123 commented on #13
Yea it fixed it but u need to do it manually that suck...

[2016-07-22 23:23] spot88 commented on #11
Would you dare to use this on your real account  yet?

[2016-07-22 23:41] Albeoris commented on #15
Hardcoded. Need move to the external config file.

[2016-07-22 23:47] Albeoris commented on #13
**Because:**
tokenResponse.expires_in	3600	int

You need to refresh an access token.

[2016-07-22 23:56] Alienater commented on #6
Hello, So i had transfer type first set to leavestrongest, and i was getting too many duplicates: i had like 5 sandshrews when i logged in when i should only have 1, right? With this option i would only get a few "pokemon x has IV percent less than 80", when really i should have many since it was a brand new acc.

Then i switched it to "cp" with a threshold of 500. Now when i catch pokemon (under

[2016-07-23 00:56] spot88 commented on #15
new KeyValuePair<ItemId, int>(ItemId.ItemPokeBall, 20),

[2016-07-23 01:13] blindreaper commented on #12
Perhaps hold off reinventing the wheel

`PokemonGo.RocketAPI.Console.exe 2>&1 | tee log.txt`

[2016-07-23 01:24] Alienater opened #18 "High level cp change"
I have missed two unknown cp dragonites (im level 24, so they must have been high). I think it would be a good idea to never dip below 20 raspberries and 20 ultra balls, so that if something rare like this comes up, we have enough to catch it.

Does the bot use raspberries? For higher cp mons, i think it would be useful, but i have not seen it in the window yet.  It would be nice to choose when ar

[2016-07-23 01:25] blindreaper opened #19 "Change EvolveAllGivenPokemons to minimum number, add LuckyEgg option"
So minimum of 1 = current mode, evolves when you have at least one of the pokemon.
0 = disabled.

Minimum of 70 will farm pidgeys until you have 840 candies and 70 pidgeys to evolve.
The 70 pokemon can be made up of any combination of pokemon ready to evolve (69 pidgey, 1 ratata).
It will then activate a lucky egg (if set to true) and then go on an evolving spree.

This will allow you to get doubl

[2016-07-23 04:42] 771977 opened #21 "change monster ball"
when catch very rare pokemon, use master ball.

[2016-07-23 07:07] shiftcodeYT commented on #13
Fixed in #20, will release today evening.

[2016-07-23 07:07] #13 closed

[2016-07-23 07:08] shiftcodeYT commented on #21
Does that exist yet? ;O

[2016-07-23 08:19] houmik commented on #5
Hi, i dont like the percentage feature. I have too much pokemons and i want to have only strongest ones... How i can change it?

[2016-07-23 08:21] shiftcodeYT commented on #5
@houmik change transfertype to duplicate

[2016-07-23 08:24] Hidan123 opened #22 "Throw different balls according to rarity"
Hey man im lvl 23right now and its struggle :D to farm pidgays,ratatas, etc its only using normal pokeballs on them even they are like 200-400cp could u change it so it will use atleast greatball on pokemon with higher than 200+ cp? or navigate how to do it :D?

[2016-07-23 08:26] shiftcodeYT commented on #22
Added as enhancement:
- Detect rarity of a pokemon, throw balls accordingly

[2016-07-23 08:28] shiftcodeYT commented on #21
Dupe with #22

[2016-07-23 08:28] #21 closed

[2016-07-23 08:40] ilikesomething commented on #12
work as excepted thanks !!

[2016-07-23 08:43] 1461748123 opened #23 "Argument Null Refference - Restarting"
After running the bot for about 2 hours, this error

shows up and the bot wont restart.
The only way to fix it is to delete all the files and relogin.
![image](https://cloud.githubusercontent.com/assets/6280864/17077039/e9fb5f3e-5076-11e6-9b01-1617ea047602.png)

[2016-07-23 08:48] shiftcodeYT commented on #23
Dupe of #13

[2016-07-23 08:48] #23 closed

[2016-07-23 08:56] ilikesomething opened #24 "Multiple instance with google auth"
How can we launch multiple instance with different google accounts ?

If i copy the folder and delete the token.txt in the new folder and launch it will still connect to the previous google account

Do you have an idea?

[2016-07-23 08:57] shiftcodeYT commented on #24
It certainly *should* work, but i don't know. Can you send screenshots of both folders?

[2016-07-23 09:00] ilikesomething commented on #24
![screen](https://cloud.githubusercontent.com/assets/13218000/17077112/94198296-50c4-11e6-8314-32afbff6daf4.png)

here it is.

I tried to corrupt the token (by adding chars in it) or to delete the .txt but when i launch it still connect to the current connected account (used in folder 1)

[2016-07-23 09:01] shiftcodeYT commented on #24
Well, that's odd. Can you try deleting token.txt in both folders?

[2016-07-23 09:03] ilikesomething commented on #24
i tried an dit worked, i think its because of my shortcut (i did theses to be able to log in .txt,) and the target was the old one

[2016-07-23 09:03] #24 closed

[2016-07-23 09:09] shiftcodeYT commented on #6
@Alienater i'll look into it. Thank you!

[2016-07-23 09:15] Akayso commented on #5
Option to catch and keep specific pokemon (set bot to catch 20 pidgey's, keep 20 pidgey's etc)
Option to evolve specific pokemon, and the number of evolutions the bot should do for it.

[2016-07-23 09:40] athanatos1 opened #25 "Missing program.cs in zip file?"
I am trying to whitelist my good pokemon from being transferred, but it's missing from the zip file the "program.cs" file. Please let me know or include it in the zip, thanks.

[2016-07-23 09:56] shiftcodeYT commented on #25
You'd have to compile it yourself. I'd have to add it to the external.config

[2016-07-23 09:57] #25 closed

[2016-07-23 09:58] shiftcodeYT commented on #18
Dupe #22

[2016-07-23 09:58] #18 closed

[2016-07-23 10:29] ilikesomething opened #26 "Suggestion : current lat/long (gps coords)"
It would be nice to log (in the caption of the window ?) the current GPS location (long/lat).

It would allow us to use theses info in case we have to relog.

It would be also nice that when the bot relog automatically (it happens sometimes) that he use the last GPS coord (instead of the .config one), to prevent soft ban

[2016-07-23 10:32] shiftcodeYT commented on #26
1) that was in my previous version, i'll gladly readd it ;)

2) that shouldn't be necessary but i'll implement it anyways. :)

[2016-07-23 10:32] ilikesomething commented on #26
great ! thanks again

[2016-07-23 10:42] sidg2681 commented on #11
ran the release for 6 hrs straight
got to lvl 17 from lvl 1
after the 6 hrs i noticed this line has been repeated for abt an hr
retry request https:// pgorelease.niantic labs.com/plfe/553/rpc
also i think its safe to use it on ur main account now if that is fixed and if the recycling and trasnfer is made customizable like
pokeballs recycle if more than"50"
greatballs recycle if more than "50"

and

[2016-07-23 10:45] shiftcodeYT commented on #11
@spot88 ofc :P
@sidg2681 that error is due to the go servers being offline. It fixes itself as soon as it's back on.

[2016-07-23 10:54] sidg2681 commented on #11
ok thanx

[2016-07-23 11:26] sidg2681 commented on #11
in the external.config in the release it says
<add key="TransferType" value="leaveStrongest" />
could u please how i can use this feature to whitelist some pokemon

[2016-07-23 12:23] Pepsai opened #27 "Bot is stuck"
Thanks a lot for creating this bot, it's the best i have tried so far.

Anyways, i got this problem today and it never really happend before, i don't know if its because servers are unstable or what but this is really weird.
It seems like the bot is stuck at the welcome message.

https://gyazo.com/e800181ca5e80e081dd0081e7aaf462a

[2016-07-23 12:44] shiftcodeYT commented on #11
It's not avaliable yet. But it will be soon. Stay tuned ;)

[2016-07-23 12:48] shiftcodeYT commented on #27
It's a bug with evolution, but it will run fine after 5 minutes or so, just leave it. BTW Dupe with #10

[2016-07-23 12:48] #27 closed

[2016-07-23 12:50] kmlalpr opened #28 "Got away..."
My bot has %10 chance for Caught %90 chance got away . Im always seeing this "xxxx with 300 cp got away..." ALWAYS... Is there a fix for this?

[2016-07-23 12:51] shiftcodeYT commented on #28
You are most likely softbanned.

[2016-07-23 12:51] #28 closed

[2016-07-23 13:01] spot88 commented on #11
It still jumps around right? It's not walking like a Human this bot?

[2016-07-23 13:01] spot88 commented on #11
It still jumps around right? It's not walking like a Human this bot?

[2016-07-23 13:31] Akayso commented on #5
Option to use specific pokeballs for specific pokemon i.e use Greatball when T2 pokemon or CP over 300?
Ultraball for every max tier pokemon and/or over 1000 CP first evolution

[2016-07-23 13:43] houmik commented on #5
Option for transfertype duplicate to have like XY best pokemons of that type ( like if i set it to 3 i always have 3 Pidgeys, 3 Machokes etc ... )

[2016-07-23 13:47] ilikesomething commented on #13
does it have been already released yet ? (since i don't know in what timezone you are)
Asking cause i still have the same issue

[2016-07-23 13:52] spot88 commented on #11
Okay, maybe add XP/hour next to StarDust?

[2016-07-23 14:36] shiftcodeYT commented on #11
@spot88 merged. Thank you! I'm currently traveling, so I can't code right now. I can merge stuff tho ;)

[2016-07-23 14:38] shiftcodeYT commented on #11
@spot88 added you as a collaborator. So I don't have to merge everytime ;)

[2016-07-23 14:58] Smilhjan commented on #5
maybe a version for mac? tried it on friends pc, working great. but sadly, at home i can't use it

[2016-07-23 15:25] cyberguy91 commented on #5
Hi. I tried this on my main account, which has 600 spots in backpack and lost most of my potions and revives due to me not understanding what the recycle was doing. Is there a way to turn recycling of? I set the recycle interval to 9999999999999999999 but once it said no usable locations wait 10 seconds, it recycled anyway.

[2016-07-23 15:27] shiftcodeYT commented on #5
I'm going to add a disable recycle setting in next release.

[2016-07-23 15:45] Alienater commented on #15
Yes, being able to configure how many of each item you want to keep would be very nice. This way you can have the bot farm pokestops/balls and when you go out in the real world you can use your pokeballs and have fun.

Also as you get more storage space, the default values may not be optimal for you too.

Best

[2016-07-23 15:48] xeriix commented on #5
farm pokstop and catch pokemons dosnt work for me in my old acc any help?

[2016-07-23 16:26] yashrs commented on #28
How to undo softbanned ?

[2016-07-23 16:29] spot88 commented on #28
Wait up to 30minutes and retry. Try to pick a spot where it's not far from pokestops.

[2016-07-23 16:30] spot88 commented on #5
Need more info, and please create a own issue.

[2016-07-23 17:04] xeriix opened #33 "something doesnt work"
farm pokstop and catch pokemons dosnt work for me in my old acc.

i create a new account for pokemon go and all works fine, but when i login with my old account of pokemon go, the farm pokestop and catch pokemons doesnt work.

any fix?

[2016-07-23 17:06] Alienater commented on #13
I have the same issue, so a release time would be nice, I cant seem to run it more than an hour and id like to go all night.

Best

[2016-07-23 17:31] houmik commented on #33
Maybe you get softban. Did you teleport somewhere ?

[2016-07-23 17:36] xeriix commented on #33
Nop, i try in the app(pokemon go) and all is fine.

[2016-07-23 17:50] ArtemDNK opened #34 "error on google account"
After 2-3 hours farm in console repeat "argument null reference". Until you delete token.txt

[2016-07-23 17:57] Xlepto commented on #34
Already been mentioned.

[2016-07-23 18:08] shiftcodeYT commented on #34
Dupe.

[2016-07-23 18:08] #34 closed

[2016-07-23 18:09] shiftcodeYT commented on #33
He probably has done something wrong in his config. Softban 4 sure.

[2016-07-23 18:09] #33 closed

[2016-07-23 18:18] Alienater commented on #34
ETA on release with this fixed? only thing stopping long botting hrs

[2016-07-23 19:25] malverde commented on #13
When is release

[2016-07-23 19:43] 1461748123 opened #35 "Suggestion: Automatically use lucky egg"
Hi!
I think it will be cool to automatically use lucky eggs. Users can set a limit (like use maximum 30 eggs) and the bot will automatically use lucky egg every 30 minutes until it reach the limit.

[2016-07-23 21:34] Blurline opened #36 "404 (German Error) Release.zip 2.0.1"
Unbehandelte Ausnahme: System.Net.WebException: Der Remoteserver hat einen Fehler zurückgegeben: (404) Nicht gefunden.
   bei System.Net.HttpWebRequest.GetResponse()
   bei PokemonGo.RocketAPI.Console.Program.<ExecuteCatchAllNearbyPokemons>d__5.MoveNext() in C:\Users\simon\Documents\GitHub\PokeBot2\PokemonGo\RocketAPI\Console\Program.cs:Zeile 185.
--- Ende der Stapelüberwachung vom vorhergehenden

[2016-07-23 22:52] ZapZapBum opened #37 "Argument NULL Reference - Restarting"
Im getting a spam of "Argument NULL Reference - Restarting"... any thoughts about why?

[2016-07-23 22:55] ZapZapBum commented on #37
PS: Removing the token solves this shit :)

[2016-07-23 23:13] kingkong91108 opened #38 "Pokemon transferring blacklist/whitelist"
Is there any way to change the duplicate mode so we can choose how many we can have at a time for transferring? Because it literally transfers everything lower then your highest, i lose good high cp pokemon. For example i have 2 gyarados's and 1 of them is 2026 and the other is 1982. I can't choose duplicate mode because it will transfer my second gyarados and i cant choose the cp because it will

[2016-07-23 23:41] AlexHolo commented on #36
I am receiving this too after a few seconds of running:
http://puu.sh/qc8Xr.png

[2016-07-24 01:51] cobalt00 opened #39 "Catch Fail"
some bug appeared not receiving any exp or items from PokeStop and every pokemon met ran away even with 16CP ratata
any idea to solve this? using the actual app still works fine
problem appear after Argument NULL Reference - Restarting thing then i delete the token and reconnect then the result is as above

[2016-07-24 02:14] supercar325 commented on #37
yea but it's gonna happen again

[2016-07-24 02:14] plum04 commented on #39
Your account could be banned, or ur inventory is full

[2016-07-24 02:15] supercar325 commented on #37
so we have to delete the "token" txt again

[2016-07-24 02:15] plum04 opened #41 "Doduo Doesnt Transfer"
Same as the title, it appears not to transfer doduos
Also it appears the my electabuzz also doesnt get transferred (I have 30 in my inventory :( )

[2016-07-24 02:21] plum04 commented on #41
http://puu.sh/qch2W/e72e439328.png
Catches 3 electabuzz's doesnt transfer any

[2016-07-24 02:25] Epsilith commented on #41
I'm having the same problem with NidoranFemale
The console outputs:
`[19:23:52] Somehow failed to transfer NidoranFemale with 231 CP. ReleasePokemonOutProto.Status was 3`

[2016-07-24 02:37] 1461748123 commented on #36
Yes, the website the program used to get the german name from are down. Thats why this error poped up. I'm making a proper language system using xml to store names, hopefully I can commit that tonight and ShiftCode can view and accept the code

[2016-07-24 02:39] 1461748123 commented on #37
Shiftcode have already fixed the problem. You have to download the latest code and compile it by your self

[2016-07-24 02:58] supercar325 commented on #37
Is 2.0.1 a latest version, I did download it and the problem is still there, running the program for about an hour and "Argument NULL Reference - Restarting"... . So I have to delete " token.txt " everytime it has that problem :(

[2016-07-24 03:05] cobalt00 commented on #39
nope i'm playing on the app still fine and my inventory is not full

[2016-07-24 03:06] 1461748123 commented on #37
No, you have to download the code, not the release. Shiftcode haven't release it yet.

[2016-07-24 03:14] supercar325 commented on #37
uhmm can you help me how to compile it?

[2016-07-24 03:57] 1461748123 commented on #37
Use visual studio to compile the code, lots of tutorial online

[2016-07-24 04:59] ndavigil opened #42 "is there any features razzberry ?"
is there any features razzberry ?

[2016-07-24 04:59] ndavigil commented on #42
is there any features razzberry ?

[2016-07-24 05:55] Zeift opened #44 "[Suggestion] Working Together?"
Possible to work tgt w this source?
He have a working GUI in place now.

https://github.com/Panthere/GoBot

[2016-07-24 06:11] shiftcodeYT commented on #42
No.

[2016-07-24 06:11] #42 closed

[2016-07-24 06:12] shiftcodeYT commented on #36
@1461748123 i will :)

[2016-07-24 06:12] sidg2681 commented on #11
so far i ran the release for 24 hrs
xp gain stabilised after reaching lvl 21
now the xp gain is 20,000 per hr
calculted time to reach lvl 30 from 1 is approximately 6 days

[2016-07-24 06:14] shiftcodeYT commented on #44
Just fork & commit, I'll try to get a nice GUI by myself today, maybe you can help.

[2016-07-24 06:14] #44 closed

[2016-07-24 06:15] shiftcodeYT commented on #39
You probably set your coords wrong. Either correct that or leave the bot for 15min then it should start working again.

[2016-07-24 06:15] #39 closed

[2016-07-24 06:16] sidg2681 commented on #11
also i did a small strategy with the lucky egg
first i let the bot not transfer anything for 2hrs
then i opened the app manually and used a lucky egg
then set evolve to true and transfer to none
it evolves faster through the bot so i got around 70 evolutions before the egg ran out so thats 70k xp
is there a way to do this through the bot
so that lucky eggs can be used when there are 70 evolvable p

[2016-07-24 06:17] shiftcodeYT commented on #38
1)Use cp mode for limits, and set threshold for max
2)It's not yet available in the release. I'll fix that soon.

[2016-07-24 06:17] #38 closed

[2016-07-24 06:34] kingkong91108 opened #45 "Specific Pokemon Evolution/transfer feature"
Is it possible to implement a feature that specifically chooses one type of pokemon and evolve it? For example if i had 630 pidgey candies and i only want to evolve all the pidgeys in my backpack i can just use the evolve farming pokemon feature. And instead of
 "EvolveAllGivenPokemons" we can do
 "EvolveExpFarmingPokemons" and for the list of farming pokemons we can have weedles and pidgeys and o

[2016-07-24 09:28] Luc4z commented on #9
hope it can be done soon , its Neer made it happened now , but it has walk to pokestop way tooooo slow for botting , hope you can take a look at his stuff，he called it PokeFast https://mega.nz/#!7VJA2CKZ!MJHNZ0ljZM1cX0bQ8GJze0-sUwSrZOQZ0UIE-ORmRa8 ，capture pokemons is really fast but walk to pokestop is so dumb , took over 10 secodons each

[2016-07-24 09:30] tomy91 opened #46 "xxx Got away"
After changing a location this bot can't catch any more pokemon. Is it a softban from Niantic or PokeBot2 issue?

[12:28:09] PokeStop XP: 0, Gems: 0, Eggs:  Items:
[12:28:25] PokeStop XP: 0, Gems: 0, Eggs:  Items:
[12:28:42] Weedle with 77 CP got away..
[12:28:46] Magikarp with 108 CP got away..
[12:28:50] Pidgey with 25 CP got away..
[12:28:53] PokeStop XP: 0, Gems: 0, Eggs:  Items:
[12:29:10] We

[2016-07-24 09:35] Deantje2016 commented on #46
I have the same problem. I downloaded this from github again and then the problem is solved, But there has to be some other way.

[2016-07-24 09:37] Deantje2016 commented on #46
Issue #28

[2016-07-24 09:46] shiftcodeYT commented on #36
Can be fixed by changing language to english. I'm closing this now, but Brian or I can implement a new language system.

[2016-07-24 09:46] #36 closed

[2016-07-24 09:46] shiftcodeYT commented on #45
Great Idea!

[2016-07-24 09:48] shiftcodeYT commented on #41
@plum04 that's normal, i'll implement a transferall soon. @Epsilith that really seems like a bug, does it only happen with nidoranFemale or with every pokemon, and how often did it happen?

[2016-07-24 09:49] #46 closed

[2016-07-24 09:50] shiftcodeYT commented on #37
#13

[2016-07-24 09:50] #37 closed

[2016-07-24 09:55] shiftcodeYT commented on #35
#19

[2016-07-24 09:56] #35 closed

[2016-07-24 10:22] Teem85 commented on #41
doesnt transfer Pinsir too, just collects them until the box is full seem like there is no iv check too

[2016-07-24 11:43] tunayuyar commented on #13
[re.zip](https://github.com/shiftcodeYT/PokeBot2/files/380233/re.zip)

I compiled this from latest git, i think it is working correctly, also shows the names of pokestops

[2016-07-24 11:48] tunayuyar commented on #13
Also please note that coordinates are not from default/git, it is my custom coordinates so dont forget to change it, if you were using with another.

[2016-07-24 11:50] kmlalpr commented on #13
Hocam türk müsünüz?

[2016-07-24 11:51] tunayuyar commented on #13
@kmlalpr  evet ? sohbete şurda devam edelim : https://discord.gg/gY3v9

[2016-07-24 13:06] Layzi opened #49 "What is this? restarting.."
Hello, why sometimes is the message "(...) restarting .." and you have to unpack all over again because do not work terribly upset :(

[2016-07-24 13:09] tunayuyar commented on #49
check this

https://github.com/shiftcodeYT/PokeBot2/issues/13#issuecomment-234772708

[2016-07-24 13:14] Layzi commented on #49
million links, I can not understand :<

[2016-07-24 13:15] tunayuyar commented on #49
Just download the zip file in my message.

[2016-07-24 13:18] Layzi commented on #49
Okey i download this and play. works on 100%?

[2016-07-24 13:26] KDOA808 opened #50 "Possible way to run in VPS Linux"
I don't want to use my computer all night and over heated, I want use Vps and screen to make the bot on for 24/7

[2016-07-24 14:11] robertkaroyan opened #51 "Recycling and customization."
Hi,

I love the Pokebot 2.0 but the customization is not very big.
Would love to edit some codes, for example the recycle code. It recycles my items, but it removes important ones like great balls. I can recycle my items myself when the bag hits the max. amount of items. Or make a code where the bot recycles only when 80% of your bag is full.

Thanks!

[2016-07-24 15:35] Luc4z commented on #9
and this one , he got that perfect feature , evolve first before transfer https://github.com/Spegeli/Pokemon-Go-Rocket-API

[2016-07-24 16:16] plum04 commented on #41
Are you aware of all the ones that don't have transfer implemented yet, or would a list possibly be helpful?

[2016-07-24 16:21] spot88 commented on #50
Get a VPS with Windows and download Visual Studio, and you are good to go.

[2016-07-24 16:37] kagasu commented on #50
.NET executable file works with Mono normally.
However, this bot can't.
(i tried CentOS 7.2.1511 / Mono 4.4.1)

[2016-07-24 18:12] Blurline opened #55 "Feature Request - Live Latitude from pokevision.com"
filter what kind of pokemon und get the current position^^ -> pokevision.com -> Change to Position in a radius - 5km/10km

[2016-07-24 18:28] 1461748123 commented on #55
Great idea!

[2016-07-24 18:32] Blurline commented on #55
but i think it is possible to get the Information -> pokemon api. -> request every x sec 5km around you -> go to the location if the pokemon is on your list -> pathfinder ;)

[2016-07-24 20:00] houmik opened #57 "Feature request:"
Whitelist or something like that for transfertype duplicate. So pokemons on this list doesnt get transfered. It will be good for people, who wants more than one of their best pokemon. For example 3 Gyarados.

Thanks and sorry for my horrible english :)

[2016-07-24 20:08] Newbie012 opened #58 "Question: request/response url?"
Hey, I just want to know, to where does this application send requests and receives responses?

[2016-07-24 20:43] dappy9 opened #59 "Latitude/Longitude Cords"
Like the idiot I am, I started the exe and it began transferring but then i realized I forgot the change the latitude/longitude cords
What is the original location of the cords?
Edit: is is possible to remove the recycling of certain items? I want to keep my pokeballs and super revives

[2016-07-24 22:56] Epsilith commented on #41
@shiftcodeYT Everytime it tries to transfer NidoranFemale it will say it is then give the aforementioned error.

[2016-07-25 01:49] Alienater commented on #13
@tunayuyar, would you be able to link a video that shows how to do that in visual studios?

[2016-07-25 02:03] sancturn opened #60 "PokeBot Crash"
Error that I'm receiving:

`Logged in Google Account..
Successfully recieved token.
'PokemonGo.RocketAPI.Window.vshost.exe' (CLR v4.0.30319: PokemonGo.RocketAPI.Window.vshost.exe): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\System.Reflection\v4.0_4.0.0.0__b03f5f7f11d50a3a\System.Reflection.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.

[2016-07-25 03:03] sgtsebas opened #61 "pokestop"
hi, my bot dosent seem to get any item from the pokestop it said 0 xp 0 item ....
![sans titre](https://cloud.githubusercontent.com/assets/20633243/17089265/d7a8f2e2-51f2-11e6-98b3-60ede6cc7e12.jpg)

[2016-07-25 03:44] ArtemDNK commented on #61
you account softbanned

[2016-07-25 04:09] sgtsebas commented on #61
and how can i avoid this ? and my pokemongo still working verywell on my phone

[2016-07-25 04:09] sgtsebas commented on #61
sorry for my bad english

[2016-07-25 07:40] theoneandonly81 opened #62 "Evolve function (exclude/only evolve Max CP)"
Could we add the possibility to exclude certain Pokemons from auto evolving?

Additionally I would recommend to always evolve the highest CP Pokemon. It currently doesn't take the highest CP Pokemon.. it evolved a 70 CP magikorp instead of a 185 CP magicorp.. :(

[2016-07-25 08:26] tunayuyar commented on #13
@Alienater just google how to compile/build in visual studio 2015

[2016-07-25 09:26] houmik commented on #62
This would be nice but .... 1805 magikarp ? da fuck you smoking

[2016-07-25 09:27] Deantje2016 commented on #61
Most of the people say: wait 30 min. So try that out and most of the times it works. Did you change the lon and lat in a short time?

[2016-07-25 11:48] Pepsai commented on #62
Yeah agreed. That would be nice. I thought the max of magikarp was something under 300 CP.

[2016-07-25 12:13] theoneandonly81 commented on #62
typo my bad. 185 CP magikorp appologies.

[2016-07-25 12:37] spot88 commented on #11
Update on Suggestions:

1. Add delay when you catch pokemons and evolve, makes it more real.
2. Configurable Custom Pathing with GPX - https://wtracks.appspot.com/
3. Use lucky Eggs and incense
4. Drop items when bag is full
5. Hatch Eggs and automatic Incubate New Eggs.

There should be a high prio on the "Human like behavior"

[2016-07-25 12:47] j4necki opened #63 "Pokemons issue"
Is anyone have same issue with not catching pokemons?
I'm not soft banned because i'm getting xp from pokestops but all pokemons runs away.
Even cp not showing up in console..
![poke](https://cloud.githubusercontent.com/assets/20641066/17101756/97b338f8-5276-11e6-8d67-09164d126c40.jpg)

[2016-07-25 13:18] Pepsai commented on #62
I have been looking through the config file, if you have leavestrongest on it should evolve the best you have because there is only one pokemon of the type to evolve because it transfers all the worst once.

[2016-07-25 13:21] Blurline commented on #63
+1 -> 2.1 no softban

[2016-07-25 14:07] houmik commented on #62
Actually you need to set it as Duplicate. Leave strongest transfering pokemons under 80%. So you can get like 10 magikarps if they are above 80%.

[2016-07-25 14:33] kmlalpr commented on #63
[17:30:35] Clefairy with [cp] CP got away...

same to me

[2016-07-25 14:37] Dellap commented on #63
check u pokemon in game, maybe full 225/225 pokemon. sorry my english is shit

[2016-07-25 14:39] Dellap commented on #63
check u pokemon in game, maybe full 225/225 pokemon. sorry my english is shit

[2016-07-25 15:05] LambdaSoft opened #66 "No work"
The program doesn't work now with Ptc. I have this error:
![capturax](https://cloud.githubusercontent.com/assets/15491982/17106010/e5bf6f5e-5289-11e6-9fe7-2d9c693b0288.PNG)

[2016-07-25 15:11] j4necki commented on #66
PTC login server is down now

[2016-07-25 16:01] siratom opened #67 "Pokestops don't work and all pokemon flee."
It shows that I have reached a pokestop but it won't work. Plus all pokemon are fleeing.

[2016-07-25 16:12] fededevi commented on #67
That's the soft ban for teleporting / moving too fast, wait a little and it will start to work.

[2016-07-25 16:15] sgtsebas commented on #61
yeah i changed the long and lat in a short time it was my bad sorry guys :P now it work perfectly its been running since 6 hrs got lot of shit haha

[2016-07-25 16:15] sgtsebas commented on #63
turn off recycle item you ran out of pokeball happens to me yesterday

[2016-07-25 16:16] sgtsebas commented on #67
you are softbanned wait 1-2 hrs and try again

[2016-07-25 17:46] LambdaSoft opened #69 "Add New Lenguage"
Add Spanish (Spain) to the releases of PokeBot2.
I did the translation, and it's good.
[es_es.zip](https://github.com/shiftcodeYT/PokeBot2/files/382119/es_es.zip)

[2016-07-25 17:47] #66 closed

[2016-07-25 18:01] thykker opened #70 "Blacklisting"
Hi just wondering how i blacklist some pokemon from transfering. I don't want to transfer my charzards, blastoise, chanseys, snorlaxs etc... Also is IV functionality implemented yet wher eit only keeps 85% and up IV.

Thank You :)

[2016-07-25 20:48] Blurline commented on #63
Resolved? -> limit of pokemon

[2016-07-25 20:51] #67 closed

[2016-07-25 20:52] spot88 commented on #63
Closed, either full pokemon in game or 0 pokeballs.

[2016-07-25 20:52] #63 closed

[2016-07-25 20:53] spot88 commented on #69
Translation: Send a pull request.

[2016-07-25 20:53] #69 closed

[2016-07-25 20:54] spot88 commented on #58
What do you mean?

[2016-07-25 20:54] #50 closed

[2016-07-25 20:55] #49 closed

[2016-07-25 20:56] spot88 commented on #55
This is not a good long term, you will get softbanned, a lot. @shiftcodeYT can say ye\ne do this.

[2016-07-25 21:19] NullFlex commented on #51
I agree, it recycled all of my Revives and potions. Please fix.

[2016-07-25 21:37] kingkong91108 opened #72 "LeaveStrongest transfer settings."
How do i change the iv percentage to 95%?. Also the leave strongest doesnt work with evolutions of some pokemons that have been captured with really low cp

[2016-07-25 21:59] Pepsai commented on #72
I have the same problem. Leavestrongest does not transfer evolved pokemon.
This results in me having a crazy amount of rattatas and other pokemon, but this is the one i have the most of. I would really like this to be fixed even though it might be hard.
https://gyazo.com/730c6708e8b6652c09fde168ca82e60f

Thanks a lot for your amazing works developers!

[2016-07-25 22:20] Alienater commented on #13
I have im just getting a lot of errors, my exe seems to never be created when I press ctrl+f5

[2016-07-26 06:05] shiftcodeYT commented on #51
Done. Download newest release.

[2016-07-26 06:05] #51 closed

[2016-07-26 06:06] #61 closed

[2016-07-26 06:08] shiftcodeYT commented on #59
To find out the *original* location, view the external.config on github. The transfer filter is implemented now.

[2016-07-26 06:08] #59 closed

[2016-07-26 06:09] shiftcodeYT commented on #58
`http://pgorelease.nianticlabs.com/something`

[2016-07-26 06:09] #58 closed

[2016-07-26 06:14] shiftcodeYT commented on #55
@spot88 yup, chance of softban = 100%. Good idea tho.

[2016-07-26 06:14] #55 closed

[2016-07-26 07:03] BukkitTNT commented on #60
Please download the actual version from the 'release' Page. Current build is: 2.1

[2016-07-26 07:03] #60 closed

[2016-07-26 09:22] proxikal opened #76 "Null Reference - Restarting"
I keep getting nothing but **Null Reference - Restarting** over and over again. Filled the config out properly.

[2016-07-26 09:54] fededevi opened #77 "Stopping after hatching egg.?"
So I noticed something strange but I'm not sure about it.
I logged my account and incubated an egg (I had 9 eggs), logged out, started the bot and everything worked fine until the bot suddenly stopped. Nothing was written on the console, no crash, no errors.

I restarted it and it worked fine, and I noticed that at the first pokestop I got a new egg.
So not 100% sure but maybe the bot stopped righ

[2016-07-26 10:00] VII86 opened #78 "Full localization?"
I was wondering if you plan full localization on your bot. Up to now (for at least the release I got), there are still english texts like "Recycled x Items" or "Poke ball is being used", which do not show up in the *.xml file provided.
Or can the xml simply be extended to cover up those texts?

Best regards

[2016-07-26 10:01] VII86 commented on #76
Delete the token.txt and retry.

[2016-07-26 10:04] Pepsai commented on #77
I dont think so.
I have been hatching eggs as well.

Did you remember to close down the bot before you entered the game on an emulator/phone?
I belive that could be the problem because then it would have been logged in from 2 diffrent devices.

[2016-07-26 10:15] fededevi commented on #77
Yes I closed the emulator, and I logged in in the same spot to avoid problems.
It might just be a coincidence.
I will try to repeat the process and confirm.

[2016-07-26 13:14] fededevi commented on #77
TESTED:
I tested it 2 times and the bot did not stop this time. Closing

[2016-07-26 13:14] #77 closed

[2016-07-26 20:39] #76 closed

[2016-07-26 21:41] sgtsebas opened #80 "restarting failed"
hi, my bot work fine for 1-2 hrs then it always said argument null reference - restarting

then i need to delete all my folder and download a new one to make it work again

 any idea ?
![poke](https://cloud.githubusercontent.com/assets/20633243/17156490/238b83b2-5358-11e6-9c6d-17bc9e6e7fa6.jpg)

[2016-07-27 02:09] Epsilith commented on #80
I believe this is a duplicate but...
All you have to do is delete your 'token.txt' file restart PokeBot.

[2016-07-27 06:15] sourshane opened #81 "Icon(s)"
This is a small "issue", however I believe it will increase the level of visual polish, especially with a GUI on the todo list. I lack the ability to implement this myself in C#, so here are some icons of varying sizes that I've created (if anybody wishes to use them):

[Large (1028 x 1028)](http://i.imgur.com/GaeqCH1.png)

[Icon (256 x 256)](http://i.imgur.com/WPat9jW.png)

[Icon (48 x 48)](http:

[2016-07-27 06:18] #80 closed

[2016-07-27 06:19] shiftcodeYT commented on #78
Not yet, maybe when i have some more time. Busy ATM

[2016-07-27 06:20] shiftcodeYT commented on #81
W.O.W. Thanks. They look *amazing*!

[2016-07-27 08:16] Doodil commented on #72
Hey, I don't think this is a bug, but a misinterpretation of the name of the setting. If you look in the "AllButStrongestTransferStrategy.cs" you will see that it only transfers a certain list of unwanted pokemon, mainly pidgeys, rattatas, weedle, zubat, etc. This list does not contain any of the evolved forms. What you want is the "duplicate" strategy, which sends away all pokemon that are duplic

[2016-07-27 17:20] Pepsai commented on #72
Yeah i figured this out yesterday while looking at the code over at Pokemon-Go-Rocket-API

Thanks a lot for clearing it up though!

[2016-07-27 18:47] N4MeD opened #82 "Error while starting"
I just reopened the programm and now there is this Error and  I dont know how to fix it.
I would like to change the language to english but i dont know how.
Every help is welcome :D.
![errorscreen](https://cloud.githubusercontent.com/assets/20688598/17187910/5be23402-543b-11e6-872a-d4762e3795c5.JPG)

[2016-07-27 19:34] spot88 commented on #82
Check your config file, and change to en

[2016-07-27 19:54] N4MeD commented on #82
didnt work, but i think u can solve it anyway :D

[2016-07-27 20:05] N4MeD commented on #82
Meanwhile I just restarted my Pc and nothing happend

[2016-07-27 20:08] N4MeD commented on #82
At the top it says : cant reach accounts.google.com

[2016-07-27 20:18] N4MeD commented on #82
After a few restarts it worked again. Thanks for the great program. Keep the good work going >D

[2016-07-27 20:25] #82 closed

[2016-07-27 21:26] svvperb opened #83 "Possible Softban Unban Feature"
There is a possible technical bug fix for unbanning 'soft-banned' users. Maybe this could be implemented if resources and time are available. Basically, if you spin a nearby pokestop 40 times, you'll be unbanned, benefitting users who gradually spoof locations.

Source - https://www.youtube.com/watch?v=_N_60Dsgwok
Thank you for all your hard work shiftcodeYT. Can't wait for a GUI release.

[2016-07-27 21:31] svvperb commented on #83
If you need any assistance in designing user/experience interface elements, feel free to reach out.

[2016-07-28 02:50] sourshane commented on #81
No problem at all, I'm glad you like them.
If you'd like me to (attempt) to do anything else, I'd be more than willing :)

[2016-07-28 05:48] thykker opened #84 "Favourite Pokemon"
Anyway to not account for or never transfer favourited pokemon.

[2016-07-28 06:24] shiraori opened #85 "Failed to initiate google login"
Recently I'm failed to initiate login with google account.

The device login code I got is blank.

http://i.imgur.com/pAJwdZ7.jpg

I'm using an unmodified release build.

[2016-07-28 07:01] XibalbaTM commented on #85
some problem +1

[2016-07-28 08:00] dedren commented on #85
Same issue, any way to resolve yet?

[2016-07-28 08:10] afossey commented on #85
Same here

[2016-07-28 08:57] sancturn opened #86 "Pokebot Crash"
I'm not sure why I'm getting this error when attempting to run PokeBot2

`Exception thrown: 'Newtonsoft.Json.JsonReaderException' in Newtonsoft.Json.dll
Exception thrown: 'Newtonsoft.Json.JsonReaderException' in mscorlib.dll
Exception thrown: 'Newtonsoft.Json.JsonReaderException' in mscorlib.dll
`

[2016-07-28 08:58] kagasu commented on #86
Get ```Newtonsoft.Json``` from NuGet

[2016-07-28 09:10] spot88 commented on #86
And servers are down atm.

[2016-07-28 09:10] #86 closed

[2016-07-28 09:50] conmcgu opened #87 "Both not working ?"
I'm struggling slightly aha, every time I run the bots it just says visit and click enter ? Have a missed a really obvious part and just being an idiot aha any help appreciated

[2016-07-28 09:50] conmcgu opened #88 "Bot not working ?"
I'm struggling slightly aha, every time I run the bot it just says visit and click enter ? Have a missed a really obvious part and just being an idiot aha any help appreciated

[2016-07-28 10:02] dantalion696 commented on #88
its not working, the game is log in normally. Should be anything related with the way the bot logs in the server...

[2016-07-28 10:04] conmcgu commented on #88
Just confused me more 😂

[2016-07-28 10:31] daneil1999123 commented on #85
same here

[2016-07-28 10:38] Acerbytas commented on #88
I think it's an internal error of google auth.
It should have displayed:

"visit https://www.google.com/device and enter XXXX-XXXX"

please, fix this issue soon ;)

[2016-07-28 10:40] Acerbytas commented on #85
Yep +1, please fix it soon ;)

[2016-07-28 12:11] dedren commented on #85
Nevermind the server's are down.

[2016-07-28 15:54] DasKristoff commented on #85
Same, hope this gets resolved soon. Hopefully it's all Google's fault and they'll get it in check

[2016-07-28 16:13] conmcgu commented on #85
Any updates on when it's working

[2016-07-28 16:13] conmcgu commented on #85
Any updates on when it's working

[2016-07-28 16:14] #87 closed

[2016-07-28 16:15] shiftcodeYT commented on #88
Let me check.

[2016-07-28 16:15] kagasu commented on #88
https://github.com/DetectiveSquirrel/Pokemon-Go-Rocket-API/pull/446

[2016-07-28 16:16] shiftcodeYT commented on #84
Not yet. Dupe tho

[2016-07-28 16:16] #84 closed

[2016-07-28 16:20] shiftcodeYT commented on #83
Wow. Honestly didn't believe this. I'll try :)

[2016-07-28 17:47] NurdinA opened #89 "work bot?"
Anybody can put the assembled working bot ?

[2016-07-28 18:22] Acerbytas commented on #89
Prooved: Ptc login WORKS, Google login NOPE.

(please fix google asap :) and ty for the work mate, really appreciated.)

[2016-07-28 18:23] Acerbytas commented on #88
Prooved: Ptc login WORKS, Google login NOPE.

(please fix google asap :) and thanks a lot for the work mate, really appreciated)

[2016-07-28 20:32] zufar56 opened #90 "ERROR IN FIRST CLICK"
why i just get some msg '' Please Visit and Enter'' ?

[2016-07-28 21:03] jackel66 commented on #90
you have to use PTC login, google isnt working at the moment.

[2016-07-28 21:16] XibalbaTM commented on #90
http://pokecrot.com/ this cheat working fine

[2016-07-28 21:56] pokemonbotter commented on #90
that pokecrot is %100 a virus don't download it

[2016-07-28 21:57] pokemonbotter commented on #90
This program is having errors they are making changers the coder will update when he can
BTW i think this is the best and safest bot I'm level 24 in 3 days

[2016-07-28 21:57] pokemonbotter commented on #89
server are doing some changes no bots are working as of now

[2016-07-28 21:58] pokemonbotter commented on #5
I would love an option to farm at different locations

Something easy just imput X cor and farm there

[2016-07-28 22:43] pokemonbotter commented on #89
They changed the API the uploader will have to fix this the rocket API was changed just wait it will happen I hope :) I really like this coder btw

[2016-07-28 23:26] Acerbytas commented on #90
Now when trying to Ptc login, an error called something like: ArgumentOutOfRangeException restarting. pulls out and force me to restart again and again. Uhhhh :(

[2016-07-28 23:39] cyberguy91 commented on #90
I'm also getting null refference and argumentoutofrangeexception - restarting. Sometimes it just spits out a bunch of code and says the program has crashed.

[2016-07-29 00:00] kingkong91108 commented on #90
Also getting the arguementoutofrangeexception.

[2016-07-29 01:48] itskaje opened #91 "argument out of range exception"
The bot keeps saying: "argument out of range exception restarting" over and over... what do I do?

[2016-07-29 01:50] itskaje opened #92 "Please visit and enter"
When I launch the bot it it says : "please visit and enter"
What do I do?

[2016-07-29 02:35] itskaje commented on #90
Me too

[2016-07-29 02:55] svvperb commented on #92
We're waiting for a fix, Pokemon GO logins via Google does not currently work at the moment due to API changes.

[2016-07-29 08:40] leichterleben commented on #91
Same issue here. Started yesterday. Worked flawlessly before. Servers are up and running. Login works, evolving of P and discarding items works. As soon as the bot starts moving the error appears. Tried different locations and redownloading the software.

[2016-07-29 10:57] gijsoman commented on #91
Yeah i have got the same problem too.
First it was the google auth problem.
I think now it's just a problem with the ptc to?

anyway nice bot man!

[2016-07-29 19:16] Kidades commented on #91
Waiting for fix

[2016-07-30 12:54] shiftcodeYT opened #93 "[Bot Broken ATM] [Working on a fix]"
I know it doesn't work ATM(at least for google. PTC: idk). I'm a 14-year-old student and was on a holiday camp for a week. I'm back now and doing everything in order to fix it. [Thanks].
Please don't create issues about this, just comment here.

[2016-07-30 12:54] #85 closed

[2016-07-30 12:54] #88 closed

[2016-07-30 12:54] #89 closed

[2016-07-30 12:54] #90 closed

[2016-07-30 12:54] #91 closed

[2016-07-30 12:54] #92 closed

[2016-07-30 14:50] PremeTeam commented on #93
Yeah google not working. Just keep getting an exception error. No problem take your time, thanks for your hard work.

[2016-07-30 14:52] NurdinA commented on #93
Thank you very much , is waiting for release

[2016-07-30 17:19] shiftcodeYT commented on #93
Done. Download 3.0 and follow Instructions in readme.md

[2016-07-30 17:19] #93 closed

[2016-07-30 17:19] shiftcodeYT commented on #62
Done in 3.0

[2016-07-30 17:19] #62 closed

[2016-07-30 17:19] shiftcodeYT commented on #72
Done in 3.0

[2016-07-30 17:19] #72 closed

[2016-07-30 17:20] shiftcodeYT commented on #70
Done in 3.0

[2016-07-30 17:20] #70 closed

[2016-07-30 17:20] shiftcodeYT commented on #45
Done in 3.0

[2016-07-30 17:20] #45 closed

[2016-07-30 17:20] shiftcodeYT commented on #19
Done in 3.0

[2016-07-30 17:20] #19 closed

[2016-07-30 17:20] shiftcodeYT commented on #57
Done in 3.0

[2016-07-30 17:20] #57 closed

[2016-07-30 17:21] shiftcodeYT commented on #26
Done in 3.0

[2016-07-30 17:21] #26 closed

[2016-07-30 17:21] shiftcodeYT commented on #9
Done in 3.0

[2016-07-30 17:21] #9 closed

[2016-07-30 17:21] shiftcodeYT commented on #6
Done in 3.0

[2016-07-30 17:21] #6 closed

[2016-07-30 17:22] shiftcodeYT commented on #41
Fixed in 3.0

[2016-07-30 17:22] #41 closed

[2016-07-30 17:22] shiftcodeYT commented on #10
Done in 3.0

[2016-07-30 17:22] #10 closed

[2016-07-30 17:22] shiftcodeYT commented on #15
Done in 3.0

[2016-07-30 17:22] #15 closed

[2016-07-30 17:22] shiftcodeYT commented on #22
Fixed in 3.0

[2016-07-30 17:22] #22 closed

[2016-07-30 17:23] shiftcodeYT commented on #11
(almost) everything added in 3.0

[2016-07-30 17:23] #11 closed

[2016-07-30 17:25] shiftcodeYT commented on #5
Everything added in 3.0

[2016-07-30 17:25] #5 closed

[2016-07-30 17:56] kingkong91108 opened #95 "How do i run this precompiled bot?"
The instructions says to download and extract and change settings to liking but i dont see where i can change the settings or run the bot. It seems like i have to build it first

[2016-07-30 18:00] houmik commented on #12
Hi you did a really great job with 3.0 and i want thank you for your work.

I have also new feature request. I saw u using PokeVision and your bot know where is pokestops and pokemons. Can you add something like Pokemon priority list ? When Bot see pokemon on this list, its going to ignore everything ( Pokestops or pokemons in range ) and just go to catch the one with priority, It will be really g

[2016-07-30 18:03] houmik opened #96 "Feature request - Pokemon priority"
Hi you did a really great job with 3.0 and i want to thank you for your hard work.

Lets talk about feature. I saw u using PokeVision and your bot know where is pokestops and pokemons. Can you add something like Pokemon priority list ? When Bot see pokemon on this list, its going to ignore everything ( Pokestops or pokemons in range ) and just go to catch the one with priority, It will be really g

[2016-07-30 18:04] houmik commented on #95
Download 3.0 here ( https://github.com/shiftcodeYT/PokeBot3/releases ) and extract it somewhere.
Then just open PokemonGo.RocketAPI.Console.exe

[2016-07-30 18:22] shiftcodeYT commented on #95
@houmik thanks.

[2016-07-30 18:22] #95 closed

[2016-07-30 18:23] shiftcodeYT commented on #96
That's a great Idea! I'll look into it in the next few days.

[2016-07-30 18:23] shiftcodeYT commented on #81
Could you change the 2 to a 3? ;)

[2016-07-30 22:29] sourshane commented on #81
Nice. Any day.

[Large (1028 x 1028)](http://i.imgur.com/UKlNFkz.png)

[Icon (256 x 256)](http://i.imgur.com/xKgyhv5.png)

[Icon (48 x 48)](http://i.imgur.com/652776v.png)

Also, as an afterthought, I figured that it doesn't scale down too well with the small circle in the center, so check these out for alternative icons.

[Icon (256 x 256)](http://i.imgur.com/Ut4cpFK.png)

[Icon (48 x 48)](http:/

[2016-07-30 22:30] cokelight opened #97 "google acc with pokebot3"
i have some problems with my google acc.... after started the exe file and setting ..all i see is that
![cattura](https://cloud.githubusercontent.com/assets/20746305/17273476/e1de1202-56b5-11e6-9266-e4aa7a0714a8.PNG)

...what i have to do?

[2016-07-31 00:59] kingkong91108 opened #98 "Pokemon go app update"
Pokemon go has updated and i guess the api has changed and now this bot doesn't work. I tried necrobot and it seems to work just fine. How is that possible when both are precompiled and this one is so much better. Is it possible to integrate some autoupdate to latest pokemon go version?

[2016-07-31 06:15] AetherAeolus opened #99 "Is it just me"
I don't know what i'm doing wrong but pokemon aint transfering. Also anyway to sort pokemon by pokemon number?

[2016-07-31 06:54] FallenDev commented on #97
Says bad authentication, so either your username or password was incorrect. Fix that, and it should work.

[2016-07-31 06:55] FallenDev commented on #99
Transfer was one of the things updated in the new update. Since that was changed and transfer button was made into a combobox it'll have to be updated in the code.

[2016-07-31 07:15] cokelight commented on #97
im sure user and pass are correct.

[2016-07-31 07:37] FallenDev commented on #97
Strange, check your settings file just in case. Also go to google and login. There was also an update today for the game. Download that and then login and see if you're able to.

[2016-07-31 07:37] FallenDev commented on #97
If you're able to login in both google and poke'mon Go. Then there might be a problem somewhere in the app for you. I'd recommend saving your settings files and redownloading the newest version.

[2016-07-31 07:51] cokelight commented on #97
i checked all the setting again as you told me but nothing changed.so i created an ptc and tried with it and this time worked.i dont understand why. when will the newest app's version be released?

[2016-07-31 07:53] tunayuyar opened #100 "Google is asking password in Android phone after using bot"
I'm not 100% sure it is about your bot but after started using it last night, google asked password in my phone saying there is change in your google account we need to verify your password.

It asked 1 time after started using it, and I entered password, continued using it and closed bot went to bed. This morning I saw that exclamtion mark warning again asking my password.

Is it possible for you

[2016-07-31 09:34] shiftcodeYT commented on #99
Transfer works for me.
[img](http://i.imgur.com/2TUfQSd.png)

[2016-07-31 09:35] #99 closed

[2016-07-31 09:36] shiftcodeYT commented on #97
BadAuthentication = Wrong username/password. Nothing else.

[2016-07-31 09:36] #97 closed

[2016-07-31 10:02] shiftcodeYT commented on #98
@kingkong91108 can you explain what doesn't work? I just tried it and everything seems to work fine.

[2016-07-31 10:15] conmcgu opened #101 "Eggs"
Not so much an issue just wanted a quick answer the bot works fine, but do eggs hatch at all because there never seems to be any update on them thanks

[2016-07-31 10:18] shiftcodeYT commented on #81
![image](https://cloud.githubusercontent.com/assets/18512463/17275900/cecfd7aa-5718-11e6-8b7b-4a2adc89baac.png)
How does this look? :)

[2016-07-31 10:20] shiftcodeYT commented on #81
or this:
![image](https://cloud.githubusercontent.com/assets/18512463/17275914/21616d4e-5719-11e6-8f94-3b9c64a14e86.png)

[2016-07-31 10:30] houmik commented on #101
you need set walking speed to like 8-9 Km/h. Thats why cant people hatch eggs in cars etc.

[2016-07-31 11:00] shiftcodeYT commented on #101
@houmik thanks, you're right! :)

[2016-07-31 11:00] #101 closed

[2016-07-31 11:01] shiftcodeYT commented on #83
@svvperb Use QuickSpin! http://www.ownedcore.com/forums/pokemon-go/pokemon-go-hacks-cheats/565264-quickspin-pokemongo-softban-unbanner-quickly-unbans-your-softbanned-account.html

[2016-07-31 11:01] #83 closed

[2016-07-31 11:06] qwertyui108 opened #102 "Got exception for bot3"
Any idea?
Thanks

 Exception: Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   at Google.Protobuf.CodedInputStream.SkipLastField()
   at PokemonGo.RocketAPI.GeneratedCode.Response.MergeFrom(CodedInputStream input) in C:\Users\simon\Documents\GitHub\PokeBot3\PokemonGo.RocketAPI\GeneratedCode\Respon

[2016-07-31 11:09] shiftcodeYT commented on #102
Seems to be a server error. Does this happen often?

[2016-07-31 11:10] shiftcodeYT commented on #102
Yup, servers are insanely unstable again. http://ispokemongodownornot.com

[2016-07-31 11:10] #102 closed

[2016-07-31 11:18] qwertyui108 commented on #102
i downloaded it today and never worked yet

[2016-07-31 12:28] shiftcodeYT commented on #100
TBH, i have no idea. Did you run the bot on your computer at home or on a server?

[2016-07-31 12:29] tunayuyar commented on #100
At home, I did run bot again today couple of hours ago, so far no problems.

I can try on my dedicated server too.

[2016-07-31 12:29] shiftcodeYT commented on #81
Thanks for your awesome design! I'm going to close this issue now, but if you have any requests feel free to open a new one!

[2016-07-31 12:31] tunayuyar commented on #100
Also I should add, I was running other bot(python codded one at github) on my server which is not in my country, on the day before yesterday.

I changed to your bot  on yesterday night as i mention.

[2016-07-31 12:59] shiftcodeYT commented on #100
It's probably just google security that kicked in. As long as the bot works, it's probably fine. If this happens again, open a new issue and link to this one(#100)

[2016-07-31 12:59] #100 closed

[2016-07-31 13:53] Blurline opened #103 "Feature Request - Always transfer"
Perfect job bot 3  thx

Just one Feature:

Always transfer list -> Pidgeotto to expensive to evolve.....

[2016-07-31 14:11] shiftcodeYT commented on #103
What do you mean?

[2016-07-31 14:31] Blurline commented on #103
In the new gui, there are 3 list for pokemon.
No catch/no transfer/envolve

I missing a 4th -> always transfer - > catch it an get the bonbon but after an envolve they are useless like pidgeotto (expensiv 50bonbon)

5th -> never envolve -> i want to envolve it myself -> each of them have different attacke, take al look at your zulbat -> different combat attack.

To envolve a pidgeotto

[2016-07-31 15:00] shiftcodeYT commented on #103
aah ok :) I'll look into it

[2016-07-31 15:11] kingkong91108 commented on #98
It wasn't working when i tried in 39 minutes after release. Also is there anyway u can bring back ur release 2.0? That worked the best for me without these additional features that make farming slow. I used to get to level 25 from level 1 in just 10 hours. Now it takes like 2 days. Can u somehow just update the necessary files for version 2.0?

[2016-07-31 15:20] BukkitTNT commented on #102
The bot is in the moment unstable wait a few days, shiftcode is working on an update.

[2016-07-31 16:37] shiftcodeYT commented on #98
i tried but i failed

[2016-07-31 16:37] #98 closed

[2016-07-31 17:34] conmcgu opened #104 "Pokestops"
My bot was working walker very well but now seems it can't find any pokestop, it hasn't changed location from before so don't understand why

[2016-07-31 17:41] sourshane commented on #81
Both those implementations look great!
I'm glad you still like them, and I'm always open if you'd like anything done in PhotoShop.
Good luck maintaining and improving the bot :)

[2016-07-31 17:50] #104 closed

[2016-07-31 18:00] houmik commented on #96
And it would be nice to have Range setting for this ...
Also i see PokeVision is down right now ... i found [this](https://jz6.github.io/PoGoMap/) but i didnt test it yet

[2016-07-31 18:02] sidg2681 opened #105 "auto incubate new eggs"
so far everything is working perfectly i shifted my account to new york central park and now i have a xp rate of 57000 per hr
if only i didnt have to log in through my phone to incubate eggs
if i log in through my phone the bot even notices my displacement and walks to it which is good but now i am over 100k miles away so
is it possible to autoincubate new eggs
ps : reached level 38 on my main so

[2016-07-31 20:39] Blurline commented on #103
another example

i got 500 pidgey candy, but say dont evolve pidgeotto and transfer pidgeotto is false, but "dont transfer evolve able" is true -> pidgetto isnt transfered

[2016-07-31 22:51] BahaStriker opened #106 "Telegram"
what's this telegram and how to use it ?

[2016-08-01 07:24] getbah opened #107 "Gui Text"
https://github.com/shiftcodeYT/PokeBot3/blob/master/PokemonGo.RocketAPI.Console/GUI.Designer.cs

960    this.Text = "PokeBot3 Config --- GUI by Ar1i/GreenGold";
to
960    this.Text = "PokeBot3 Config --- GUI by GreenGold";\

Because this bot based om Ar1i bot , but this Gui made only GreenGold

[2016-08-01 09:49] alex8998 opened #108 "We can't find any pokestops"
Hi,

I've set the bot (basically change to the 6 spot at Minneapolis). But it seems not working. I can't catch Pokémon or Pokestop. Did I forget something ?

Thanks

![pokemon](https://cloud.githubusercontent.com/assets/20769798/17290258/e83600b4-57dd-11e6-876e-cb1e89d21a9a.PNG)

[2016-08-01 09:53] shiftcodeYT commented on #108
@alex8998 Can you send me a screenshot of your config?

[2016-08-01 09:57] alex8998 commented on #108
Yes of course
![pokemon2](https://cloud.githubusercontent.com/assets/20769798/17290527/24bfb1fa-57df-11e6-8676-3598bbce3492.PNG)

[2016-08-01 09:59] shiftcodeYT commented on #108
@alex8998 Try this (with dots instead of comma):
45.030060
-93.319229

[2016-08-01 10:00] shiftcodeYT commented on #108
And with more detail

[2016-08-01 10:08] alex8998 commented on #108
Perfect with dots ! Thanks :)
Last question, is it normal the line with the distance ? I've set the location at Minneapolis and i checked, my character is on this spot.

[2016-08-01 10:12] shiftcodeYT commented on #108
@alex8998 Lol what did you do? 100000 seconds?

[2016-08-01 10:21] alex8998 commented on #108
Nothing special. When I check on Nox, I'm in Minneapolis.

![pokemon4](https://cloud.githubusercontent.com/assets/20769798/17291120/5afc6148-57e2-11e6-9a23-88c51fce9475.PNG)

[2016-08-01 10:23] shiftcodeYT commented on #108
@alex8998 Try to close all bot windows, delete the config folder, close all pokemon go apps and try again. This is weird.

[2016-08-01 10:24] conmcgu commented on #108
I had this problem I just changed location with he map it worked fine for me

[2016-08-01 10:24] shiftcodeYT commented on #108
@conmcgu Right, altitude was on 0

[2016-08-01 10:26] alex8998 commented on #108
Alright. Configs folder deleted and seems ok now :)

[2016-08-01 10:27] shiftcodeYT commented on #108
@alex8998 Great!

[2016-08-01 10:27] #108 closed

[2016-08-01 10:27] alex8998 commented on #108
Thanks you !

[2016-08-01 10:28] shiftcodeYT commented on #108
@alex8998 No Problem!

[2016-08-01 11:12] shiftcodeYT commented on #106
telegram is similar to whatsapp. You can create bots(https://core.telegram.org/bots). In the process, you will get a token, which you enter in PokeBot3. Then, set a username in telegram(important) and enter it in PokeBot3 under Username/telegram section. Start the bot and send the telegram bot a message!

[2016-08-01 11:12] #106 closed

[2016-08-01 11:15] shiftcodeYT commented on #107
Fixed. Thank you for notifying. Release in a few minutes-hours

[2016-08-01 11:15] #107 closed

[2016-08-01 11:17] shiftcodeYT commented on #105
I'll look into it soon.

[2016-08-01 11:51] saifownzu opened #109 "Pokestops not loading"
I keep getting this despite being in the central park still.

[14:50:29] We cant find any PokeStops in a range of 5000m!
[14:50:30] We cant find any PokeStops, which are unused! Probably Server unstable, or you visted them all. Retrying..

I realized it was really odd I ran out of all pokeballs I had till I saw  it was not visiting pokestops at all

[2016-08-01 11:53] shiftcodeYT commented on #109
@saifownzu In location map, drag it around a few meters and click set.(to set altitude, it cant find pokestops 300m under earth)

[2016-08-01 12:07] saifownzu commented on #109
@shiftcodeYT , I have already tried that. the altitude is like 16. something, even on default location its giving me the same error.

[2016-08-01 12:10] saifownzu commented on #109
![untitled](https://cloud.githubusercontent.com/assets/19819573/17293593/e8826c6c-57f9-11e6-9143-a2cb83dcae90.png)
Here's a couple of screenies of settings n stuff
![capture](https://cloud.githubusercontent.com/assets/19819573/17293625/207c0844-57fa-11e6-8b90-fad2ccc573d0.PNG)

[2016-08-01 12:12] shiftcodeYT commented on #109
@saifownzu altitude is on 0

[2016-08-01 12:13] saifownzu commented on #109
@shiftcodeYT it's on default "Set Location" anyways, after using "Select All" on Don't Catch, it seems to find pokestops now.

[2016-08-01 12:13] shiftcodeYT commented on #109
@saifownzu so it works again now?

[2016-08-01 12:14] saifownzu commented on #109
@shiftcodeYT yes, I can farm with catching off. :+1:

[2016-08-01 12:14] shiftcodeYT commented on #109
@saifownzu then try turning it on again. 😀

[2016-08-01 12:20] saifownzu commented on #109
okay, btw since pokevision is down. are you going to implement self-account scanning?

[2016-08-01 12:20] shiftcodeYT commented on #109
@saifownzu What do u mean

[2016-08-01 12:23] saifownzu commented on #109
@shiftcodeYT , Pokevision was shutdown due to niantic complaining n stuff, but a couple of developers made Self scanners where u can scan surrounding pokemons using your account itself.
take a look @ https://www.reddit.com/r/pokescanner

[2016-08-01 12:24] shiftcodeYT commented on #109
@saifownzu Thanks for notifying me!

[2016-08-01 12:32] saifownzu commented on #109
@shiftcodeYT no problem :) , glad I can try to support you work

[2016-08-01 12:57] saifownzu commented on #109
pokestops stopped finding now even with the catch on/off. loc was changed around a couple of metres still unfixed, tried deleting configs n stuff but still persisting.

[2016-08-01 12:59] shiftcodeYT commented on #109
@saifownzu That's odd. It still works for me. Try switching around dot and comma in the coords.

[2016-08-01 13:00] conmcgu opened #110 "Bot"
Just a quick question bot has been working great which is all good so thanks been levelling me up good, just wanted to ask anyway to save settings so that everytime it loads I don't have to reenter everything, and also if when the bot is running can i still open the app because I'm not with my bot so didn't want to run the app and the bot crash thanks :)

[2016-08-01 13:00] saifownzu commented on #109
@shiftcodeYT nope still persistent

[2016-08-01 13:01] shiftcodeYT commented on #109
@saifownzu Thats really odd. I'll try to help in an hour or so. On my phone ATM

[2016-08-01 13:02] saifownzu commented on #109
@shiftcodeYT alright, take your time

[2016-08-01 13:03] shiftcodeYT commented on #110
@conmcgu 1) it saves settings automatically
2) you'd be in 2 locations at the same time. Soft ban guaranteed

[2016-08-01 13:05] conmcgu commented on #110
My settings don't save, as in every time I load the bot I have to enter what I want to evolve and transfer (just time consuming) not much bother,and 2) yeah thought as much that's not worries

[2016-08-01 13:06] saifownzu commented on #110
@conmcgu are you running the tool using sandboxie? do you have deepfreeze installed?

[2016-08-01 13:07] conmcgu commented on #110
Don't have either of them installed they good for running it ?

[2016-08-01 13:13] shiftcodeYT commented on #110
@saifownzu Then I have no idea. Is there a config folder?

[2016-08-01 13:15] conmcgu commented on #110
Not that ive seen

[2016-08-01 14:09] shiftcodeYT commented on #109
Ok then, back on PC:
1) Send me your system config(OS, etc)
2) Try to redownload current release and run it, ONLY enter your account details & change nothing else, click save and close the bot after 3-5 seconds
3) if you still dont have a "Config" Directory, try the same thing again but run it as administrator.

Hope we can fix this, ShiftCode

[2016-08-01 14:11] shiftcodeYT commented on #109
Fuck, wrong issue.

[2016-08-01 14:11] shiftcodeYT commented on #110
Ok then, back on PC:
1) Send me your system config(OS, etc)
2) Try to redownload current release and run it, ONLY enter your account details & change nothing else, click save and close the bot after 3-5 seconds
3) if you still dont have a "Config" Directory, try the same thing again but run it as administrator.

Hope we can fix this, ShiftCode

[2016-08-01 14:12] shiftcodeYT commented on #109
Try to redownload current release, and make a new folder to unzip it in. Also try running as admin.
Also, if that doesn't work, send me your system config(OS, etc)

[2016-08-01 14:35] shiftcodeYT commented on #109
@shiftcodeYT test

[2016-08-01 14:42] saifownzu commented on #109
@shiftcodeYT  ehhh none worked, it's a Win 10 x64
4Gigs , i7 2600k, gtx 550 ti but i dont think its a windows issue, as its the same thing at my other pc with different network and different account.
Other PC is Win 8.1 x86 3Gigs Core 2 duo 1.6ghz gt 610

[2016-08-01 14:42] shiftcodeYT commented on #109
@saifownzu can you send me coordinates you are using?

[2016-08-01 14:43] saifownzu commented on #110
@conmcgu nope, I was wondering because these are intended for temporary uses where all data is lost after u close app

[2016-08-01 14:47] saifownzu commented on #109
@shiftcodeYT  40.764883 -73.972967 15.173855

[2016-08-01 14:51] shiftcodeYT commented on #109
@saifownzu seems OK. TBH I'm out of ideas.

[2016-08-01 14:54] saifownzu commented on #109
@shiftcodeYT i'm on my way home right now, ill see what happens from home connection

[2016-08-01 14:54] shiftcodeYT commented on #109
@saifownzu ok

[2016-08-01 15:10] sidg2681 commented on #109
try putting altitude as zero and leave latitude and longitude as it is
oh and  btw i ve been using the git hub python version of pokevision for a while now but even that seems to have slowed down by a lot recently
not sure if niantic reduced the number of calls u can make or something
but its definetly slower to scan now

[2016-08-01 15:14] shiftcodeYT commented on #109
@sidg2681 ok

[2016-08-01 15:45] #12 closed

[2016-08-01 15:45] #78 closed

[2016-08-01 15:45] shiftcodeYT commented on #96
Checked through the code, not worth the effort

[2016-08-01 15:45] #96 closed

[2016-08-01 16:18] saifownzu commented on #109
I am at home now, I was getting the same error however I tried logging on my main account and it worked normally. Idk what seems to be the issue anymore

[2016-08-01 16:18] shiftcodeYT commented on #109
@saifownzu lol that is weird af

[2016-08-01 16:23] saifownzu commented on #109
@shiftcodeYT and its back at it again. lol ffs

[2016-08-01 16:23] shiftcodeYT commented on #109
@saifownzu wtf is it doing?

[2016-08-01 16:24] saifownzu commented on #109
Idek, I even increased range to 50k metres
and it found one within 500m.

[2016-08-01 17:15] saifownzu commented on #109
it seems to work with latitude set to 0 for a while then it breaks and latitude goesup somehow

[2016-08-01 17:15] #109 closed

[2016-08-01 17:15] shiftcodeYT commented on #109
@saifownzu dafuq

[2016-08-01 17:18] saifownzu commented on #109
@shiftcodeYT yeah pretty glitchy somehow, anyways how do I set this up on a CentOS machine? might have it bot on my rdp :3

[2016-08-01 17:19] shiftcodeYT commented on #109
@saifownzu only windows for now. Try mono or wine and check if it works.

[2016-08-01 17:19] saifownzu commented on #109
alrightie, thank you

[2016-08-01 17:19] shiftcodeYT commented on #109
@saifownzu np

[2016-08-01 22:10] Galaxy200 opened #112 "Feature Request - GUI/Console to show current items"
It were awesome, to see which items are in my bag

[2016-08-01 22:46] saifownzu commented on #109
@shiftcodeYT https://www.reddit.com/r/pokemongodev/comments/4vl6sl/getmapobjects_changes_made_in_niantic_update/ take a look at this

[2016-08-02 07:09] shiftcodeYT commented on #109
@saifownzu As far as I understand, everything should still work.

[2016-08-02 07:10] shiftcodeYT commented on #112
@Galaxy200 Great Idea, I'll take a look at it today.

[2016-08-02 11:04] tunayuyar commented on #100
Reporting in:

Probably google does that when ip changes with bot. Today tried bot at my office and my android phone was asking password again. So I suppose nothing to worry about.

[2016-08-02 11:05] shiftcodeYT commented on #100
@tunayuyar Yup, probably that's the reason.

[2016-08-02 11:20] shiftcodeYT commented on #110
@conmcgu did it help?

[2016-08-02 11:24] conmcgu commented on #110
Haven't been back to try yet sounds all good though thanks

[2016-08-02 13:33] quaivatlua88 opened #113 "When will the bot transfer Pokemon ? I've got 30 Pokemons that are less IV than 80 and less Cp than 600"

[2016-08-02 13:34] shiftcodeYT commented on #113
@quaivatlua88 you probably ticked "dont transfer evolveable pokemon" but disabled evolution.

[2016-08-02 13:36] quaivatlua88 commented on #113
Yeah. Thanks!

[2016-08-02 13:36] #113 closed

[2016-08-02 13:37] shiftcodeYT commented on #113
@quaivatlua88 no problem ^^ (it's a common mistake)

[2016-08-02 17:56] scottrecor opened #114 "can use bot at lvl 4"
do i have to pick a team before using this bot

[2016-08-02 17:57] shiftcodeYT commented on #114
@scottrecor Nope, you can just run it.

[2016-08-02 17:58] scottrecor commented on #114
i get invaldprotocolbufferexception: skiplastField called on end-group tag indicating that the  corresponding start-group was missing

[2016-08-02 17:58] shiftcodeYT commented on #114
@scottrecor Seems like a server error.

[2016-08-02 18:04] scottrecor commented on #114
server error for the bot or pokemon go i can log into the game just fine

[2016-08-02 18:09] scottrecor commented on #114
exact error

Exception: Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   at Google.Protobuf.CodedInputStream.SkipLastField()
   at PokemonGo.RocketAPI.GeneratedCode.Response.MergeFrom(CodedInputStream input) in C:\Users\simon\Documents\GitHub\PokeBot3_Hub\PokemonGo.RocketAPI\GeneratedCode\Response

[2016-08-02 18:16] shiftcodeYT commented on #114
@scottrecor Are you behind a firewall?

[2016-08-02 18:27] scottrecor commented on #114
not that i am aware of is there certain ports that need to be open if so

[2016-08-02 22:01] Mamutebr opened #115 "Bug Export Player Infos and all Pokemons to CSV not possible. File seems be in use!"
Export Player Infos and all Pokemons to CSV not possible. File seems be in use!
[19:01:03] Exception: System.NullReferenceException: Referência de objeto não definida para uma instância de um objeto.
   em PokemonGo.RocketAPI.Logic.Inventory.<GetPlayerStats>d__11.MoveNext() na C:\Users\simon\Documents\GitHub\PokeBot3_Hub\PokemonGo.RocketAPI.Logic\Inventory.cs:linha 87
--- Fim do rastreamento de pi

[2016-08-02 23:08] liuhx9988 opened #116 "How to fix this?"
http://i.imgur.com/x3I40EP.png
It just keeping showing this again and again

[2016-08-03 03:22] WhiteShadow7 commented on #116
I Have the same Problem on my Virtual Machine :/

[2016-08-03 03:28] WhiteShadow7 commented on #114
I Have the same Error on my Azure virtual Machine :/.  Does the app need some special permission?

[2016-08-03 08:57] shiftcodeYT commented on #115
Check your task manager for Pokemongo.something

[2016-08-03 08:57] #110 closed

[2016-08-03 08:59] shiftcodeYT commented on #114
Azure seems to be not working. Can you try on your home PC? I'm not using azure, but it's working on a Windows VPS @ Hosting90.eu for me.

[2016-08-03 09:00] shiftcodeYT commented on #116
Is it on azure?

[2016-08-03 10:41] AzureACW commented on #116
#114 :)

[2016-08-03 10:46] AzureACW commented on #105
@sidg2681 Turn off location on your phone before logging in to the app, you can look at your pokedex, manage pokemon and eggs and such without updating your account location. This would be an awesome feature though. :)

[2016-08-03 11:21] Mamutebr commented on #115
![teste](https://cloud.githubusercontent.com/assets/20781412/17363851/42fc875e-5953-11e6-8143-9a1bdaa9465b.png)

[2016-08-03 13:29] shiftcodeYT commented on #115
@Mamutebr close them

[2016-08-03 13:38] shiftcodeYT commented on #114
Azure was IPblocked by niantic. Same for other hosting companies.

[2016-08-03 13:38] #114 closed

[2016-08-03 13:43] shiftcodeYT commented on #116
Azure and other companies were IPblocked by niantic. #114

[2016-08-03 13:43] #116 closed

[2016-08-03 13:43] shiftcodeYT commented on #115
Should be fixed now.

[2016-08-03 13:43] #115 closed

[2016-08-03 15:44] lYesterdaYl opened #118 "Disable reload after power-up"
Since I have a lot of pokemon, it takes more than 10 seconds to reload the list each time I power-up a pokemon.

[2016-08-03 15:51] shiftcodeYT commented on #118
Disable location services on your phone, then open the app and power up there.

[2016-08-03 16:01] lYesterdaYl commented on #118
ok you are right:)

[2016-08-03 16:49] scottrecor commented on #114
So proxy time

On Aug 3, 2016 12:41 PM, "ShiftCode" <notifications@github.com> wrote:

[2016-08-03 17:57] shiftcodeYT commented on #103
Done :)

[2016-08-03 17:57] #103 closed

[2016-08-03 17:57] shiftcodeYT commented on #112
Console is done, taking a look at GUI now(not yet released)

[2016-08-03 19:31] lYesterdaYl opened #121 "Status not working"
Hi, everything on the stats windows shows unknown or "0"

Ver 3.1.2

Edit:nvm my phone client was opened

[2016-08-03 20:09] itskaje opened #122 "PokemonGo Servers offline"
it says pokemon go servers are offline when in fact it is online as im able to log in on my phone.
whats going on?

[2016-08-03 20:15] DoctorShodan commented on #122
Same problem here, no idea where the problem might come from.

[2016-08-03 20:30] itskaje opened #123 "[in private testing] [Work in Progress] Fix the bot."
i put my location as NY cental park right in the middle of it.... and it says it cant find any pokestops in a range of 5000m?

[2016-08-03 20:35] DirtbikeKing247 commented on #122
Same issue
![pkm_error](https://cloud.githubusercontent.com/assets/14851882/17381103/4c7193d4-5998-11e6-9789-a0c238a0940d.png)

[2016-08-03 20:36] DirtbikeKing247 commented on #123
Same issue
![pkm_error](https://cloud.githubusercontent.com/assets/14851882/17381103/4c7193d4-5998-11e6-9789-a0c238a0940d.png)

[2016-08-03 20:48] H1337er commented on #123
had to update my version on my noxplayer think it might relate to this?

[2016-08-03 20:49] itskaje commented on #123
i dont think noxplayer has anything to do with this bot not working properly

[2016-08-03 20:50] shiftcodeYT commented on #123
@itskaje No, niantic updated the API. I'll have to fix it tomorrow.

[2016-08-03 20:52] itskaje commented on #123
@shiftcodeYT oh. sounds good.

[2016-08-03 21:01] redafad opened #124 "v.3.1.2"
i am unable to open the newest release file, it doesnt show as a zip file like the others, but a .7z file so i cant use it

[2016-08-03 21:03] shiftcodeYT commented on #124
@redafad http://7-zip.com (.zip of newest release got detected as a virus, so i changed it to 7z)

[2016-08-03 21:04] redafad commented on #124
ok ill try to unzip with that, thanks alot man

[2016-08-03 22:19] sidg2681 commented on #123
so i guess everyones in central park then

[2016-08-03 22:35] sidg2681 commented on #123
also if u remember initially when u started this bot u had an idea to make 2 modes
one xp bot and a farm bot
well i have gotten a xp bot sorto working
hoping u can implement it if its stable
although frankly i just used auto clicker on pc to get this done to just farm pokestops nonstop abt 1 pokestop per second
and the result was i almost  hit lvl 7 in 5 mins b4 it crashed
but the xp per when calc

[2016-08-04 00:11] Kappische3 opened #125 "When is the new update coming out?"
My bot keeps saying that the pokestops are not near and stuff like that, whens the new update coming???

[2016-08-04 01:52] BoBadas231 opened #126 "cant find any pokestops"
This just came with the recent update of pokemon go. me and my friend both have this bug and none of us are soft banned. Gyazo screenshot of the error https://gyazo.com/a384d0100c861d1b189661672454dc6f
Has been saying that for around 2 days. anyone else with the same problem? and yes we have tried multiple locations

[2016-08-04 02:44] itskaje commented on #126
Swiftcode said he's working on it and will update us about it tomorrow.

[2016-08-04 04:39] Alonalon7 commented on #126
ok.. thank's..
cause i had same problem like that.

[2016-08-04 07:08] conmcgu opened #127 "V3.1.2 Error"
Just downloaded the newest version and upon running the file I get the error could not find a part of the path for "Configs\LastCoords.txt can you please fix as bot won't run at all without it

[2016-08-04 08:04] HelloItsRien opened #128 "Error"
Hey!

I have a farm server for my accounts, and after a hour of 5 I got this weird error.
-> https://gyazo.com/2f7eb04f86d7ddcc28ebad447e0c7cd1

Normally I would go and look for myself, but I only code Java and PHP :-)

[2016-08-04 08:05] shiftcodeYT commented on #128
@HelloItsRien Right now, every bot is broken, because niantic updated the API. We are working on it. Also, you are probably using a hosting service that got blocked by niantic, like azure.

[2016-08-04 08:09] HelloItsRien commented on #128
Nope, I'm using a private home server.
I have a Dell Poweredge R210 at my place ;-)

[2016-08-04 08:15] Deantje2016 commented on #127
The bot doesnt work at all, he is working on a fix since niantic changed their API again. He will post a new version if he found a way around.

[2016-08-04 08:57] shiftcodeYT commented on #125
DUpe

[2016-08-04 08:57] #125 closed

[2016-08-04 08:57] #124 closed

[2016-08-04 08:57] #122 closed

[2016-08-04 08:57] #121 closed

[2016-08-04 08:58] #127 closed

[2016-08-04 08:58] #128 closed

[2016-08-04 08:58] #126 closed

[2016-08-04 09:04] HelloItsRien commented on #118
I always set the speed to 11 kilometres an hour if I'm hatching eggs, that works fine for me.

[2016-08-04 09:40] MrPrecise opened #130 "Gym Battles"
**Gym Battles**

In future updates i like to see gym battles, here is some options i would like to see.
Im not usre if erything is doable but you can look through it and see what you can do with it.

- Bot checking Pokemon`s in the gym already. So it know what pokemon to choose.

` Example, 2 Fire pokemon and 2 grass pokemon is in the gym. Then the bot choose 2 Water and 2 Fire, so it is super eff

[2016-08-04 10:07] mephistophaIes commented on #123
Any news?

[2016-08-04 10:08] shiftcodeYT commented on #123
Not yet

[2016-08-04 10:11] WhySoSerious21 commented on #123
Can u estimate when it'll be launched? Tomorrow? Thx..

[2016-08-04 10:31] alwayzgame opened #131 "is the bot working?"

[2016-08-04 10:32] shiftcodeYT commented on #131
#123

[2016-08-04 10:32] #131 closed

[2016-08-04 10:43] mephistophaIes commented on #131
checking

[2016-08-04 10:54] mephistophaIes commented on #123
still not working

[2016-08-04 10:58] FilyaGG opened #132 "Hi"
Updated the bot on 3.1.3, but the problem remained in the plan poket stops. Maybe I have something wrong?

[2016-08-04 10:59] shiftcodeYT commented on #132
@FilyaGG can you PLEASE read readme.md? https://github.com/shiftcodeYT/PokeBot3/blob/master/README.md

[2016-08-04 11:00] #132 closed

[2016-08-04 11:00] FilyaGG commented on #132
Sorry have not seen. Thank you.

[2016-08-04 11:22] #112 closed

[2016-08-04 12:56] tiny1980 commented on #123
At the moment no bots are working (at least not as before).
Some are reporting needing a full re-work.
We'll have to be patient, as it may be longer then expected.

Many devs are working together to try and find the best possible workarounds, although I would be surprised if it gets fixed in the next 24hrs.  I'm always hopeful though!

[2016-08-04 13:31] DirtbikeKing247 commented on #123
Apparently they have added a MapObjects checksum encryption (AES)
Just need to find the key and they are good to go..

[2016-08-04 13:49] MrPrecise opened #133 "Lucky Egg / Incense Options"
As of right now Lucky Eggs / Incense have just some limited options. Ive just made this list over some changes that would make a little bit more customization for the bot.

- Lucky Egg Every 30 min

`Make it the same way as the incense option, use a new egg every 30 min`

- Manual Usage Of Lucky Egg / Incense

`In the gui, make a button to use a lucky egg and one button for incense. So the user ke

[2016-08-04 13:51] Jzitko commented on #123
Thank you for all of your hard work.  I picture a group of highly skilled API and AES devs working through some "mr robot" style chat system to get this shit done.

[2016-08-04 14:57] NurdinA commented on #123
still dont working

[2016-08-04 14:57] shiftcodeYT commented on #123
@NurdinA Did i say i fixed it?

[2016-08-04 14:58] itskaje commented on #123
@Jzitko its most likely just one person  (shiftcodeYT) thats working on it.  Or if you look to the right of your screen you'll see the "Assignees" only 3 people.

[2016-08-04 16:47] Bulangseng commented on #123
any news guys?

[2016-08-04 17:11] ShitsMoneyOnBotDevs commented on #123
If you can fix the bug, I will drown you in donations.

[2016-08-04 17:12] Jesusmy2016 commented on #123
I encourage fellow

[2016-08-04 17:48] tiny1980 opened #134 "Walk Speed set to 0 gives error."
Just ran current version to look up some IVs quickly on the pokemon list, and didn't want to aimlessly walk around back to "default location' since there are no pokestops.

I set the Speed to 0 km/h, and I get the following error.  It's not a huge deal, as I can't see many people setting walk speed to '0', although, I just wanted to point it out.  Judging by the error message, a '0' value should w

[2016-08-04 19:16] JustinCR20 commented on #123
any fix?

[2016-08-04 19:16] shiftcodeYT commented on #123
@JustinCR20 no.

[2016-08-04 19:17] JustinCR20 commented on #123
lol

[2016-08-04 19:50] Shankky14 commented on #123
When the api is fixed ..The same program will continue working or reinstallation is required? @shiftcodeYT

[2016-08-04 19:51] Doniiie commented on #123
@shiftcodeYT I just want to say that u r doing a really gr8 job , tnx

[2016-08-04 19:52] shiftcodeYT commented on #123
@Doniiie thank you :)

[2016-08-04 19:53] shiftcodeYT commented on #123
@Shankky14 you will have to redownload. But it isn't fixed yet anyways

[2016-08-04 19:59] Shankky14 commented on #123
Okay☺ ..btw thanx for your hardwork!

[2016-08-04 20:08] Albanerr commented on #123
how much time we should wait ? thanks for your hard work

[2016-08-04 20:09] shiftcodeYT commented on #123
@Albanerr until it's fixed. ETA: impossible to say

[2016-08-04 21:45] Ytkevtek commented on #123
you are finish to fix? @shiftcodeYT

[2016-08-04 21:55] gulugulux commented on #123
i take error that we can't find any pokestop. When is this error fixed? Can someone tell me*

[2016-08-04 22:03] Alexandr24 commented on #123
@gulugulux until it's fixed. ETA: impossible to say
unknown6...

[2016-08-04 22:28] Belelusat commented on #130
I would like to add a few suggestions to a gym feature set as mentioned above.

- Prestige settings for training

`What level to raise the gym to.`
- 2 Modes

`Allow Takeover / Don't allow takeover`
- Gym defense status in gui/cli

`Periodic updates on what pokemon are in gyms and what gyms they are in. This could be used further down the line to initiate a possible revenge/defense mode, if pokemo

[2016-08-04 23:43] itskaje commented on #123
@Ytkevtek @gulugulux When its fixed im sure shiftcodeYT will write something on the front page and also say something here in comments that it is fixed. Please wait patiently like the rest of us. This is not a easy fix. ALL bots everywhere for Pokemon Go stopped working because of the new update. Some posts on other forums say that this new update on Pokemon Go made the bot we had useless and ther

[2016-08-05 02:04] toxicflash commented on #123
How do i get this bot?

[2016-08-05 02:14] itskaje commented on #123
@toxicflash look at the comment above yours. Next time read before you comment and ask for help.

[2016-08-05 02:47] FallenDev commented on #123
@Shankky14 you'll need to download the newest compiled version. As you should be doing daily.

[2016-08-05 02:58] marsekalchasa commented on #123
Keep Fight !! you can Solve This Problem Admin.....

[2016-08-05 03:17] LordSad commented on #123
I would just like to say that the devs here are doing a stand up job.... i made a bot the first time pokemon go came out and gave up on updates as soon as the first change came.... people should think of that before complaining

[2016-08-05 03:23] WhySoSerious21 commented on #123
@LordSad wkwk :D yaa, nowadays, people do some complaining without thinking

[2016-08-05 04:35] jedi2003 commented on #123
@shiftcodeYT  thx your hard work

[2016-08-05 10:58] chospirit opened #136 "Diffrent Version when download"
why when i download
![image](https://cloud.githubusercontent.com/assets/20858062/17434689/12e0abba-5b36-11e6-92db-b350a4e63aa5.png)

but when i start it was
![image](https://cloud.githubusercontent.com/assets/20858062/17434699/2e5123de-5b36-11e6-923c-6ac1bb3d2152.png)

[2016-08-05 11:11] Ghenghis commented on #130
this would be great to add to the bot

[2016-08-05 11:25] chospirit commented on #136
Did any one have same problem? or it was just me?

[2016-08-05 11:27] rsman17 commented on #136
I have the same problem

Dne 5. 8. 2016 13:25 napsal uživatel "chospirit" <notifications@github.com>:

[2016-08-05 12:30] jedi2003 commented on #136
I have same problem !!

[2016-08-05 12:34] clone1084 commented on #136
3.2.7 is the last commit but is not the last compiled program that you have downloaded.
You have to wait for the official fixed release.
Please wait and stop asking for the new release until it's fixed. If you keep on asking the work can only be slower.

[2016-08-05 18:56] AzuryaTV opened #137 "New Pokemon GO API"
Hi ShiftCode,
This isn't really an issue, but i came across this guy who said to have the new Pokemon GO API in Python, I don't know if it could help you in any way, but I'm posting it here so you can take a look by yourself.
https://github.com/Mila432
By the way, you're doing a great work with this bot i'm loving it! Good Job!

[2016-08-05 22:11] redafad commented on #123
https://github.com/Mila432

[2016-08-05 22:18] JustinCR20 commented on #123
and whats that? sorry im noob :V

[2016-08-05 22:19] redafad commented on #123
idk just a link that might help the OP ignore it lol

[2016-08-05 22:20] JustinCR20 commented on #123
ok

[2016-08-06 00:49] AzureACW commented on #136
From the readme:

Furthermore, I added autoBuild. Please check notes before downloading, as there may be many releases before it's fixed due to autoBuild.

[2016-08-06 14:13] FallenDev commented on #136
You "people" realize it's broken right? Whatever you download will not work, why are you even trying? Wait until we fix it. Thank you :)

[2016-08-06 14:13] #136 closed

[2016-08-06 16:30] BukkitTNT commented on #137
The Project is empty.

[2016-08-06 16:30] #137 closed

[2016-08-06 20:50] Shankky14 commented on #123
Guyss...How long its gonna take..I have never used a bot before...and when I thought of it...Niantic changes its API!

[2016-08-06 20:51] shiftcodeYT commented on #123
@Shankky14 All the fields have been found, now it's on testing and implementing.

[2016-08-06 20:53] Shankky14 commented on #123
Hoping to get the bot soon☺

[2016-08-06 21:42] FallenDev commented on #123
Soon @Shankky14 , @shiftcodeYT and @BukkitTNT will be doing the main implementations. Stay tuned.

[2016-08-06 23:38] nemezis49 commented on #123
How long we must waiting guys ?

[2016-08-06 23:47] spot88 commented on #123
@nemezis49 as long as it takes.

[2016-08-07 03:46] herdidi47 commented on #130
if this added, it would be more like AI than a normal bot lel

[2016-08-07 06:57] allanrodrigues89088 commented on #123
the bot 're working? mine was showing it , we can not find any pokestop in 5000 m

[2016-08-07 06:58] WhySoSerious21 commented on #123
@allanrodrigues89088 dude pls, scroll up and read all of the comments, and pls read before comment :)

[2016-08-07 08:00] ShitsMoneyOnBotDevs commented on #123
Shiftcode, which country are you from?

[2016-08-07 08:23] allanrodrigues89088 commented on #123
I'm in Brazil , rio de janeiro , if anyone can help me plz

[2016-08-07 09:51] shiftcodeYT commented on #81
@sourshane can you do [this](http://i.imgur.com/UKlNFkz.png) and [this](http://i.imgur.com/Ut4cpFK.png) with both no number and with a four?

[2016-08-07 11:09] darcsacka opened #138 "New Working API"

[2016-08-07 11:11] darcsacka commented on #123
NEW API WORKING, as said by reddit teaam wich worked on this
https://m.reddit.com/r/pokemongodev/comments/4w1cvr/pokemongo_current_api_status/?utm_source=mweb_redirect&compact=true

https://github.com/keyphact/pgoapi

[2016-08-07 11:11] darcsacka commented on #138
please delete this issue. i wrote on the right place again

[2016-08-07 11:49] darcsacka commented on #123
i don't want to spoil the fun, but there are bot that already function, but i wont write it here. I really liked this bot, can you please hurry?

[2016-08-07 14:40] STAMIL0 commented on #123
@shiftcodeYT hello, can you giva an update about the ETC.

Thankyou

[2016-08-07 14:44] Deantje2016 commented on #123
Guys hold on he does this for us in his spare time. Understand that his life is not only about this bot. He got his own personal life too. Keep that in mind. He is doing all he can.

[2016-08-07 15:06] STAMIL0 commented on #123
you are right, but he has to understand that he is the pokebot uber master. ;-)

[2016-08-07 15:15] STAMIL0 commented on #123
a smal update would be super nice, we are the loyal followers of SC. instead of @darcsacka spoiling al off the fun here with his betrayal. ;-p

[2016-08-07 15:16] darcsacka commented on #123
who said that i am using other ones dude. and i think the biggest betrayal was to post the links to the working api. =]]

[2016-08-07 15:28] gulugulux commented on #123
Can someone send me a working BOT programme link??

[2016-08-07 15:47] darcsacka commented on #123
google is your friend

On Sun, Aug 7, 2016 at 6:28 PM, gulugulux <notifications@github.com> wrote:

[2016-08-07 16:00] gulugulux commented on #123
@darcsacka you are so clever. I couldn't think doing this. I couldn't find any link about working bot programme.

[2016-08-07 16:40] darcsacka commented on #123
than you don't deserve to use a bot, if you are not able to proper google stuff.

[2016-08-07 16:41] darcsacka commented on #123
it is not polite to advertise another ones bot in here you nice human being.

[2016-08-07 17:09] gulugulux commented on #123
I don't care you @darcsacka ! Stop mentionning with me.

[2016-08-07 17:17] nemezis49 commented on #123
Good job guys.

[2016-08-07 17:17] darcsacka commented on #123
little kid, please learn some English first. The key to your question is  https://github.com/shiftcodeYT/PokeBot3 here you little punk. It's in the first freaking link.
oh and by the way. you are the only one mentioning people @gulugulux.

[2016-08-07 17:55] gulugulux commented on #123
Idiot @darcsacka r u spelling guide? The fact that i am writing quickly, i can do some typographical error but you are so stupid as you didn't understand it.

[2016-08-07 18:03] darcsacka commented on #123
[OFFtopic]OK, i just reported you for insulting me. Next time please choose more appropriate words! This trash talk doesn't belong in here. Better say thank you for helping you out!.

[ON topic] - any news from shiftcode?

[2016-08-07 18:05] gulugulux commented on #123
Fuck off @darcsacka

[2016-08-07 18:07] darcsacka commented on #123
right, like I am listening to what you order me or something. I shall make another report if you continue to talk that way.

[2016-08-07 18:11] gulugulux commented on #123
The most idiot human i have ever seen @darcsacka

[2016-08-07 18:12] shiftcodeYT commented on #123
@darcsacka I'm close. Release ETA is tomorrow evening, GMT+1 (where it is 20:12 right now)

[2016-08-07 18:13] darcsacka commented on #123
thank you for the answer shiftcode :100:

[2016-08-07 18:59] C3rberus9 commented on #123
Cool! I looked after other bots too, as maybe the most of you, but this one
is the most configurable, and I like it too tho...
So I stayed calm, and I am still waiting till you get this bot to an update
which one is working again properly.

Keep it up man!

2016-08-07 20:13 GMT+02:00 darcsacka <notifications@github.com>:

[2016-08-07 19:20] Keazy opened #139 "New Bot?"
I updated the bot but when I try to use it. It doesn't work. And I know the guys finished finding the API last night. So just wondering is there anything I need to do to find out how to make it work again? Or anything I need to download?

[2016-08-07 19:20] shiftcodeYT commented on #139
@Keazy It has to be implemented. Nothing fixes it by itself

[2016-08-07 21:33] Doniiie commented on #123
@shiftcodeYT nice work man, keep it up

[2016-08-07 23:19] topkekz opened #140 ""Don't catch" list?"
It used to be in the older version of PokeBot 3 but that feature was removed in the latest version (before the API stuff), would it be possible to bring it back in the new version?

[2016-08-07 23:20] shiftcodeYT commented on #140
@topkekz Well, the unwanted list immediately transfers it if caught, which gets you experience. I don't see why you would want to get the old list back. Convince me and i'll add it :)

[2016-08-07 23:31] sourshane commented on #81
Sure, no problem. I lost the PSD (because I'm a genius) so I had to remake it and I added less drop shadow than last time. I think it looks nice.

Without number:
[Large Icon (1028 x 1028)](http://imgur.com/w6PFgbH)
[Small Icon (256 x 256)](http://imgur.com/fgYNCUX)

With a four:
[Large Icon (1028 x 1028)](http://imgur.com/8iASk09)
[Small Icon (256 x 256)](http://imgur.com/TOSRBQ8)

And here's a s

[2016-08-07 23:31] topkekz commented on #140
This may sound stupid but I wouldn't like to gain XP/level up too fast. Since there are way too many Pidgeys and Weedles around the XP gain is crazy fast for me. But oh well, at least only utilizing the nocatch.txt without adding anything to the GUI would be nice.

[2016-08-08 09:48] Bruschetta987 commented on #123
@shiftcodeYT Good Job man, post link when you've released the ETA.
Love you <3

[2016-08-08 15:34] itskaje commented on #123
Guy, stop rushing swiftcodeYT. Trust me, it's best that he takes his time and work on the boy properly than for you to have a half working bot.  ShiftcodeYT is great at what he's doing and as long as you don't rush him you know you will get a great bot in the end. Rush him and you will get a bot with a million errors to which he would have to release more bots and you'd have to download and instal

[2016-08-08 17:01] ShitsMoneyOnBotDevs commented on #123
@itskaje what the fuck are you talking about? They all thank him for his project. No one said: gimme the bot nao

[2016-08-08 17:08] Deantje2016 commented on #123
Just all hush and stop replying until he is posting something about the bot.

[2016-08-08 17:18] ShitsMoneyOnBotDevs commented on #123
Pimmel okay

[2016-08-08 17:33] FallenDev commented on #123
Do I have to moderate this post as well? Please keep it civil! We've already fixed the API, that's not the problem. The problem is we're rebuilding the Graphical User Interface (GUI) from the ground up, and we're reconnecting it to the API. Since there are new API calls and such. We have to recreate logic to that. It's quite the process. Myself and the other dev's also work during the day. So this

[2016-08-08 18:08] itskaje commented on #123
@ShitsMoneyOnBotDevs  No need to swear or get worked up. I was not directing that message on you or anyone specifically I just simply saying in general for people to stay calm a dickhead just wait patiently without asking when it will be done. As you can see when you scroll up I'm the one who started this post and I'm getting emails whenever people message on this post and it's quite annoying seei

[2016-08-08 18:09] ShitsMoneyOnBotDevs commented on #123
May I sweat on you? @itskaje

[2016-08-08 19:22] LordSad commented on #123
Yes, plz start deleting some of these....I was wondering why you didn't do it before...

[2016-08-08 19:40] FallenDev commented on #134
As of right now we have no idea if this problem will extend to our new version. If it does, please repost this then.

[2016-08-08 19:40] #134 closed

[2016-08-08 19:42] FallenDev commented on #139
Currently the bot is not working. We are remaking a new GUI for the new API that was released.

[2016-08-08 19:42] #139 closed

[2016-08-08 19:43] #138 closed

[2016-08-08 19:46] FallenDev commented on #133
This is addressed in the new API calls, should be an easy implementation.

[2016-08-08 20:04] saifownzu opened #141 "Not really an Issue but, here"
You can get your API done using this thread I guess
https://www.reddit.com/r/pokemongodev/comments/4trjum/pok%C3%A9mon_go_development_archive_works_in_progress/

since its updated

[2016-08-08 20:05] saifownzu commented on #141
also
https://github.com/keyphact/pgoapi

[2016-08-08 21:04] C3rberus9 commented on #141
As I understood the API is already ok, they just build a new GUI around it with some new features...

I'm really excited about it...

[2016-08-09 00:41] LordSad opened #142 "Incubation Control"
Is there anyway we can choose what km eggs to give priority when incubating?

[2016-08-09 11:54] shiftcodeYT commented on #123
OK Guys, I have great news for you! A fixed version is done, it's currently being tested by donators. Public release should be coming today. [GMT+1] [around 6-8pm]

[2016-08-09 13:03] #141 closed

[2016-08-09 14:12] shiftcodeYT commented on #123
Fixed guys. Download [here](https://github.com/shiftcodeYT/PokeBot3/releases/latest)

[2016-08-09 14:12] #123 closed

[2016-08-09 14:13] shiftcodeYT opened #143 "Telegram bot broken"
I know guys, telegram doesn't work right now. I will fix it soon. Thanks for your awesome support!

[2016-08-09 14:41] shiftcodeYT commented on #142
I don't see direct use of this, but it may be possible. I may reconsider this another time.

[2016-08-09 14:41] #142 closed

[2016-08-09 15:05] C3rberus9 opened #144 "Stats Items don't show"
I don't really know if this is a client side error, or this part of the bot is still not functioning flawless, but in the stats window at the items I see just zeros....

Isn't a really big issue, but if you will have time to fix it pls do it.

[2016-08-09 15:06] danielyang1009 commented on #144
same issue

[2016-08-09 15:24] conmcgu opened #145 "Error reloading pokemon list ?"
Title says it all bot works just keeps saying this all the time though

[2016-08-09 15:25] conmcgu commented on #145
Says out of memory after the error

[2016-08-09 16:37] cokelight commented on #145
same

[2016-08-09 16:37] shiftcodeYT commented on #145
@cokelight try deleting the "Sprites" folder

[2016-08-09 16:43] C3rberus9 opened #146 "High CPU usage"
I have a i5 4200H in my laptop, and the bot uses approx. 30% of it... I consider this as a bit more, than normal, 'cause it's just a bot, it should use much less of CPU.

Dunno if it is supposed, to work so, or this is some issue, I reported it, just to be sure.

[2016-08-09 16:44] shiftcodeYT commented on #146
@C3rberus9 i also noticed that myself. It appears to be the CPU, i may put in delays later today

[2016-08-09 16:46] cokelight opened #147 "can't find any pokestop again"
i have this issues again
![cattura0](https://cloud.githubusercontent.com/assets/20746305/17525085/8ec82b4e-5e61-11e6-816c-3e26744bfa0b.PNG)

[2016-08-09 16:46] shiftcodeYT commented on #147
@cokelight try other coordinates

[2016-08-09 16:48] C3rberus9 commented on #146
Thanks :)

[2016-08-09 16:49] shiftcodeYT commented on #146
@C3rberus9 i think i know the problem, in the check that updates the GUI, is a while(true)/infinite loop. I forgot delays :P

[2016-08-09 16:51] cokelight commented on #147
i tried but nothis changes...same error

[2016-08-09 16:51] shiftcodeYT commented on #147
@cokelight well, it works for everybody else. try redownloading newest release and extracting it into a different folder

[2016-08-09 16:55] C3rberus9 commented on #146
Yeah i though of something like this too, jus wasn't sure about it so i better don't say anything :D
btw, nice if u think u have the problem and can solve it too.

[2016-08-09 16:59] cokelight commented on #147
ok now seems work.

[2016-08-09 16:59] shiftcodeYT commented on #147
@cokelight servers unstable.

[2016-08-09 17:04] FallenDev commented on #146
I want to first off say, awesome job Simon! I'm at work so I can't test the new improves you've made. However, from what I'm seeing you did an amazing job. I'd run a debug within visual and check the performance logs and see if there is any memory leaks as well. Might be something simple like the infinite loop you've mentioned.

[2016-08-09 17:05] shiftcodeYT commented on #146
@FallenDev im almost sure its the infinite :D

[2016-08-09 17:12] cokelight commented on #147
no i was using 4 bots together and sometimes it gave me this error ...soft ban 1336..i dont know why...with two no problems..

[2016-08-09 17:12] shiftcodeYT commented on #147
@cokelight well everything after 3 instances will get you softbanned

[2016-08-09 17:27] cokelight commented on #145
dont have that folder

[2016-08-09 17:35] shiftcodeYT commented on #145
@cokelight ._.

[2016-08-09 17:43] cokelight commented on #145
![cattura1](https://cloud.githubusercontent.com/assets/20746305/17526906/8b2fe91a-5e69-11e6-9a07-0449c05737bb.PNG)

[2016-08-09 17:44] shiftcodeYT commented on #145
@cokelight well thats the problem then. run as admin maybe it creates that folder thne

[2016-08-09 17:55] cokelight commented on #145
ok ill try :+1:

[2016-08-09 18:02] cokelight commented on #145
![cattura3](https://cloud.githubusercontent.com/assets/20746305/17527552/19737ece-5e6c-11e6-845d-271cd325ee89.PNG)
unable to reload pokemon's list

[2016-08-09 18:02] shiftcodeYT commented on #145
@cokelight you havent got enough RAM.

[2016-08-09 18:15] #147 closed

[2016-08-09 18:17] shiftcodeYT commented on #145
It's normal if you dont have enough ram that it doesnt work. I'll put a notice in.

[2016-08-09 18:17] #145 closed

[2016-08-09 18:19] shiftcodeYT commented on #144
items is broken, as shown in console. It will be fixed by @ArcaneTrixter soon!

[2016-08-09 18:19] shiftcodeYT commented on #140
It's back :D

[2016-08-09 18:19] #140 closed

[2016-08-09 18:23] shiftcodeYT commented on #146
@FallenDev can you chech for memory leaks in Console/Pokemons.cs?

[2016-08-09 18:23] shiftcodeYT commented on #146
Also, i uploaded a new version with fixed CPU usage :)

[2016-08-09 19:03] tiny1980 commented on #146
My issue with last version was when the pokelist loads up.
Everything stays greyed out, and continually says Reloading.... in it's status bar.

Is this the same issue you just worked on?  either way I will try this release out and see.

[2016-08-09 19:04] shiftcodeYT commented on #146
@tiny1980 First load takes over 5 minutes, that's normal

[2016-08-09 19:41] tiny1980 commented on #146
@shiftcodeYT thanks, I'll be patient then!   lol..  in the previous instances (pre-API change) it loaded fairly quickly.

[2016-08-09 19:42] shiftcodeYT commented on #146
@tiny1980 i know, dunno why its so slow

[2016-08-09 19:55] #146 closed

[2016-08-09 19:55] shiftcodeYT commented on #146
Fixed in latest release

[2016-08-09 21:25] nakino opened #148 "Multi account"
Hi, how many bots can we use at the same time without being softbanned ? Thank you for your answer :)

[2016-08-09 21:25] shiftcodeYT commented on #148
@nakino 4 at a time.

[2016-08-09 21:26] nakino commented on #148
Ok thanks !

[2016-08-09 22:18] superjohn1990 opened #149 "no release"
nothing can be found in the release link.

[2016-08-09 22:18] shiftcodeYT commented on #149
@superjohn1990 read top of readme

[2016-08-09 22:30] Deantje2016 commented on #149
Worst part is i wanted to make an account on the forum to donate but i dont seem to get the mail in my inbox, neither in spam or normal email. I'm waiting 5 hours now for the mail from the forum of yours.

[2016-08-09 22:31] shiftcodeYT commented on #149
@Deantje2016 tell me forum username, i'll verify you

[2016-08-09 22:32] Deantje2016 commented on #149
Deanie is username

[2016-08-09 22:35] Deantje2016 commented on #149
You deserve it, thanks for all your hard work!! Keep up the good work.

[2016-08-09 22:35] shiftcodeYT commented on #149
@Deantje2016 thank you very much!

[2016-08-10 07:53] GM-Kazumi commented on #149
i dont get a email too.... does this bot cost now?

[2016-08-10 08:46] Deantje2016 commented on #149
It doesnt cost money. But you can donate since he is making the bot in his free time.

[2016-08-10 23:24] darcsacka opened #151 "API changed again?"
Is it just me or API changed again?
[it was just temporary, PLEASE close]

[2016-08-11 03:19] herdidi47 commented on #151
hide your username lol

[2016-08-11 07:41] #151 closed

[2016-08-11 12:59] mrtiny opened #152 "just a little correction"

[2016-08-11 20:31] ucia commented on #152
just a little correction as well. The icon of dratini is wrong , it shows dragonair instead of dratinis picture

[2016-08-14 13:50] nfx55638 opened #154 "How can i change bot language to zh_tw?"
How can i change bot language to zh_tw?
there is zh_tw.jason belows.
`
{
    "accountType": "帳號類型:",
    "username": "使用者名稱:",
    "password": "密碼:",
    "locationSettings": "座標設定",
    "speed": "速度:",
    "moveRadius": "移動半徑:",
    "meters": "公尺.",
    "startFromDefaultLocation": "從預設座標開始",
    "botSettings": "BOT設置",
    "autoTransferDoublePokemon": "自動丟棄重覆寶可夢",
    "maxDupPokemon": "最大重覆寶可夢:",

[2016-08-14 14:48] Dwza commented on #154
At the moment it's not possible. There will be a language update soon. In about one week. I will see to add this language as well.

[2016-08-15 10:57] nfx55638 commented on #154
I am grateful for your help.

[2016-08-15 11:57] shiftcodeYT commented on #143
fixed.

[2016-08-15 11:57] #143 closed

[2016-08-15 11:57] shiftcodeYT commented on #105
cleanup: added

[2016-08-15 11:57] #105 closed

[2016-08-15 11:57] shiftcodeYT commented on #149
cleanup

[2016-08-15 11:57] #149 closed

[2016-08-15 11:58] shiftcodeYT commented on #148
cleanup: 1 at a time is better to prevent hardban

[2016-08-15 11:58] #148 closed

[2016-08-15 13:19] SajetS opened #155 "No Pokestops"
hello
i dont know why, but it does not work for me.
i use the default settings, but get always the error :
**We cant find any pokestops in a range of 5000m!**

how can I solve the problem?